force-app/main/default/flows/NEPA_Plaintiff_Intelligence.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>After-save trigger on PublicComplaint (insert only). Queries NEPA_Plaintiff_Profile__mdt for records whose Organization_Name__c matches the commenter organization via CONTAINS. When a HIGH or VERY_HIGH profile is found: (1) sets nepa_plaintiff_risk_flag__c, nepa_tribal_plaintiff_flag__c, and nepa_plaintiff_risk_tier__c on the comment record itself; (2) sets nepa_plaintiff_risk_flag__c and nepa_tribal_plaintiff_flag__c on the parent IndividualApplication; (3) creates a Legal Defensibility Review task.</description>
    <label>NEPA Plaintiff Intelligence</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <assignments>
        <name>Assign_MatchedProfile</name>
        <label>Capture Matched Profile</label>
        <description>Store the matched profile fields for use in downstream task creation. Sets var_MatchFound flag and loops back so DML runs outside the loop.</description>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_MatchedOrgName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CheckProfiles.Organization_Name__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MatchedRiskTier</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CheckProfiles.Risk_Tier__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MatchedCaseCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CheckProfiles.Prior_Case_Count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MatchedSuccessRate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CheckProfiles.Success_Rate__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MatchedCauses</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CheckProfiles.Typical_Causes__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MatchedIsTribalNation</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_CheckProfiles.Is_Tribal_Nation__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_MatchFound</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>true</booleanValue></value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_CheckProfiles</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>End_NoMatch</name>
        <label>End — No Match or Error</label>
        <description>No-op terminal node for paths that exit without flagging.</description>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_MatchedOrgName</assignToReference>
            <operator>Assign</operator>
            <value><stringValue></stringValue></value>
        </assignmentItems>
    </assignments>

    <decisions>
        <name>Decision_KeywordMatch</name>
        <label>Org Name Contains Profile Name?</label>
        <description>Check if commenter org name contains this profile organization name (case-insensitive via formula).</description>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Match — Next Profile</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Loop_CheckProfiles</targetReference>
        </defaultConnector>
        <rules>
            <name>Profile_Matched</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_OrgNameContainsProfile</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><booleanValue>true</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_RiskTierHighEnough</targetReference>
            </connector>
            <label>Profile Keyword Match Found</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_OrgNamePopulated</name>
        <label>Commenter Organization Populated?</label>
        <description>Commenter Organization Populated?</description>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Org Name — Skip</defaultConnectorLabel>
        <rules>
            <name>OrgName_Populated</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.ReporterOrganization</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_CheckProfiles</targetReference>
            </connector>
            <label>Org Name Present</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_ParentAppExists</name>
        <label>Parent Application Found?</label>
        <description>Parent Application Found?</description>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Parent App — Skip</defaultConnectorLabel>
        <rules>
            <name>ParentApp_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ParentApp</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Update_PlaintiffFlag</targetReference>
            </connector>
            <label>Parent App Found</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_RiskTierHighEnough</name>
        <label>Risk Tier HIGH or VERY_HIGH?</label>
        <description>Risk Tier HIGH or VERY_HIGH?</description>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Medium or Low — Skip Flag</defaultConnectorLabel>
        <rules>
            <name>Tier_High</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>Loop_CheckProfiles.Risk_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><stringValue>VERY_HIGH</stringValue></rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_CheckProfiles.Risk_Tier__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><stringValue>HIGH</stringValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_MatchedProfile</targetReference>
            </connector>
            <label>HIGH or VERY_HIGH</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_MatchFound</name>
        <label>High-Risk Profile Matched?</label>
        <description>Post-loop gate — routes to Update_CommentRecord only when var_MatchFound was set inside the loop. Keeps all DML outside the loop.</description>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Match — End</defaultConnectorLabel>
        <rules>
            <name>Match_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_MatchFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><booleanValue>true</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CommentRecord</targetReference>
            </connector>
            <label>Match Found</label>
        </rules>
    </decisions>

    <formulas>
        <name>formula_PlaintiffRiskBasis</name>
        <description>Human-readable summary written to nepa_plaintiff_risk_tier__c — sourced by the Plaintiff Intelligence section on the comment page.</description>
        <dataType>String</dataType>
        <expression>{!var_MatchedRiskTier} &amp; " — " &amp; {!var_MatchedOrgName} &amp;
IF({!var_MatchedIsTribalNation}, " (Tribal Nation)", "") &amp;
" | " &amp; TEXT({!var_MatchedCaseCount}) &amp; " prior cases, " &amp;
TEXT(ROUND({!var_MatchedSuccessRate} * 100, 0)) &amp; "% success rate"</expression>
    </formulas>

    <formulas>
        <name>formula_OrgNameContainsProfile</name>
        <description>True when the commenter org name contains the profile org name (case-insensitive).</description>
        <dataType>Boolean</dataType>
        <expression>CONTAINS(
  UPPER({!$Record.ReporterOrganization}),
  UPPER({!Loop_CheckProfiles.Organization_Name__c})
)</expression>
    </formulas>

    <formulas>
        <name>formula_TaskDescription</name>
        <description>Task description summarizing plaintiff profile details.</description>
        <dataType>String</dataType>
        <expression>"Repeat plaintiff organization identified in public comments. " &amp;
"Organization: " &amp; {!var_MatchedOrgName} &amp; ". " &amp;
"Risk tier: " &amp; {!var_MatchedRiskTier} &amp; ". " &amp;
"Prior NEPA cases: " &amp; TEXT({!var_MatchedCaseCount}) &amp; ". " &amp;
"Historical success rate: " &amp; TEXT(ROUND({!var_MatchedSuccessRate} * 100, 0)) &amp; "%. " &amp;
"Typical challenge grounds: " &amp; {!var_MatchedCauses} &amp; ". " &amp;
"Review administrative record completeness and coordinate with Solicitor&apos;s Office."</expression>
    </formulas>

    <formulas>
        <name>formula_TaskSubject</name>
        <description>Task subject for Legal Defensibility Review task.</description>
        <dataType>String</dataType>
        <expression>"Legal Defensibility Review — " &amp; {!var_MatchedOrgName} &amp; " (" &amp; {!var_MatchedRiskTier} &amp; ")"</expression>
    </formulas>

    <loops>
        <name>Loop_CheckProfiles</name>
        <label>Loop Through Plaintiff Profiles</label>
        <description>Loop Through Plaintiff Profiles. On exhaustion routes to Decision_MatchFound so DML runs outside the loop, avoiding DbInLoop violations.</description>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>var_PlaintiffProfiles</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_KeywordMatch</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_MatchFound</targetReference>
        </noMoreValuesConnector>
    </loops>

    <recordCreates>
        <name>Create_DefensibilityTask</name>
        <label>Create Legal Defensibility Review Task</label>
        <description>Create a high-priority task for the NEPA Coordinator alerting to the high-risk plaintiff commenter.</description>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formula_TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>formula_TaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value><stringValue>High</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value><stringValue>Not Started</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>var_ParentApp.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>var_ParentApp.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <faultConnector>
            <targetReference>End_NoMatch</targetReference>
        </faultConnector>
        <object>Task</object>
    </recordCreates>

    <recordLookups>
        <name>Get_ParentApplication</name>
        <label>Get Parent IndividualApplication</label>
        <description>Load the IndividualApplication this comment was filed against for flag update and task assignment.</description>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ParentAppExists</targetReference>
        </connector>
        <faultConnector>
            <targetReference>End_NoMatch</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_related_process__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <outputReference>var_ParentApp</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>nepa_plaintiff_risk_flag__c</queriedFields>
    </recordLookups>

    <recordLookups>
        <name>Get_PlaintiffProfiles</name>
        <label>Get Active Plaintiff Profiles</label>
        <description>Load all active NEPA_Plaintiff_Profile__mdt records for keyword matching.</description>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_OrgNamePopulated</targetReference>
        </connector>
        <faultConnector>
            <targetReference>End_NoMatch</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NEPA_Plaintiff_Profile__mdt</object>
        <outputReference>var_PlaintiffProfiles</outputReference>
        <queriedFields>Organization_Name__c</queriedFields>
        <queriedFields>Name_Keywords__c</queriedFields>
        <queriedFields>Risk_Tier__c</queriedFields>
        <queriedFields>Prior_Case_Count__c</queriedFields>
        <queriedFields>Success_Rate__c</queriedFields>
        <queriedFields>Typical_Causes__c</queriedFields>
        <queriedFields>Is_Tribal_Nation__c</queriedFields>
        <sortField>Risk_Tier__c</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>

    <!-- sfca-disable flow:SameRecordUpdate: Intentional after-save; requires litigation lookup results unavailable before save -->
    <recordUpdates>
        <name>Update_CommentRecord</name>
        <label>Set Plaintiff Flags on Comment Record</label>
        <description>Write the three new plaintiff intelligence fields directly onto the matched PublicComplaint record so the Plaintiff Intelligence section on the comment page shows without requiring a parent-app lookup.</description>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_ParentApplication</targetReference>
        </connector>
        <faultConnector>
            <targetReference>End_NoMatch</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>nepa_plaintiff_risk_flag__c</field>
            <value><booleanValue>true</booleanValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_tribal_plaintiff_flag__c</field>
            <value>
                <elementReference>var_MatchedIsTribalNation</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_plaintiff_risk_tier__c</field>
            <value>
                <elementReference>formula_PlaintiffRiskBasis</elementReference>
            </value>
        </inputAssignments>
        <object>PublicComplaint</object>
    </recordUpdates>

    <recordUpdates>
        <name>Update_PlaintiffFlag</name>
        <label>Set Plaintiff Risk Flag on Application</label>
        <description>Set nepa_plaintiff_risk_flag__c = true on the parent IndividualApplication.</description>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Create_DefensibilityTask</targetReference>
        </connector>
        <faultConnector>
            <targetReference>End_NoMatch</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_ParentApp.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>nepa_plaintiff_risk_flag__c</field>
            <value><booleanValue>true</booleanValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_tribal_plaintiff_flag__c</field>
            <value>
                <elementReference>var_MatchedIsTribalNation</elementReference>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>

    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_PlaintiffProfiles</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>ReporterOrganization</field>
            <operator>IsNull</operator>
            <value><booleanValue>false</booleanValue></value>
        </filters>
        <filters>
            <field>nepa_related_process__c</field>
            <operator>IsNull</operator>
            <value><booleanValue>false</booleanValue></value>
        </filters>
        <filters>
            <field>nepa_plaintiff_risk_flag__c</field>
            <operator>EqualTo</operator>
            <value><booleanValue>false</booleanValue></value>
        </filters>
        <object>PublicComplaint</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_PlaintiffProfiles</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
    </start>

    <variables>
        <name>var_MatchedIsTribalNation</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value><booleanValue>false</booleanValue></value>
    </variables>
    <variables>
        <name>var_MatchFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value><booleanValue>false</booleanValue></value>
    </variables>
    <variables>
        <name>var_MatchedCaseCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value><numberValue>0</numberValue></value>
    </variables>
    <variables>
        <name>var_MatchedCauses</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value><stringValue></stringValue></value>
    </variables>
    <variables>
        <name>var_MatchedOrgName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value><stringValue></stringValue></value>
    </variables>
    <variables>
        <name>var_MatchedRiskTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value><stringValue></stringValue></value>
    </variables>
    <variables>
        <name>var_MatchedSuccessRate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value><numberValue>0</numberValue></value>
    </variables>
    <variables>
        <name>var_ParentApp</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>
    <variables>
        <name>var_PlaintiffProfiles</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_Plaintiff_Profile__mdt</objectType>
    </variables>

</Flow>
