force-app/main/default/flows/NEPA_Litigation_Risk_Scorer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_NEPA_Risk_Scorer</name>
        <label>Evaluate Litigation Risk Score</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>NEPA_Litigation_Risk_Scorer</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Decision_PermitGapPenalty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ReviewType</name>
            <value>
                <elementReference>$Record.nepa_review_type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AgencyName</name>
            <value>
                <elementReference>Get_RelatedProject.nepa_record_owner_agency__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CircuitKey</name>
            <value>
                <elementReference>Get_RelatedProject.nepa_circuit__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StatutePoints</name>
            <value>
                <elementReference>var_StatutePoints</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsExpedited</name>
            <value>
                <elementReference>formula_IsExpedited</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordCompleteness</name>
            <value>
                <elementReference>$Record.nepa_record_completeness__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ChallengeDelta</name>
            <value>
                <elementReference>$Record.nepa_challenge_risk_delta__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SectorCircuitKey</name>
            <value>
                <elementReference>formula_SectorCircuitKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ScopingOverrunFlag</name>
            <value>
                <elementReference>$Record.nepa_scoping_overrun_flag__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ScopingOverrunMonths</name>
            <value>
                <elementReference>$Record.nepa_projected_scoping_overrun_months__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NEPA_Litigation_Risk_Scorer</nameSegment>
        <outputParameters>
            <assignToReference>var_RiskScore</assignToReference>
            <name>RiskScore</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_RiskTier</assignToReference>
            <name>RiskTier</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_AIConfidence</assignToReference>
            <name>AIConfidence</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Append_PenaltyNote</name>
        <label>Append APA Penalty Note to Score Factors</label>
        <locationX>352</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>var_ScoreFactors</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ScoreFactorsWithPenalty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RiskFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_StatutePoints</name>
        <label>Add Statute Risk Points</label>
        <locationX>528</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_StatutePoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_StatuteWeights.Risk_Points__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_StatuteWeights</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_GapPoints_High</name>
        <label>Set Permit Gap Points — High (3+)</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_PermitGapPoints</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>15</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_FinalRiskScore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_GapPoints_Low</name>
        <label>Set Permit Gap Points — Low (1-2)</label>
        <locationX>352</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_PermitGapPoints</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>8</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_FinalRiskScore</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_FinalRiskScore</name>
        <label>Compute Final Risk Score</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>var_FinalRiskScore</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_FinalRiskScore</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Build_Score_Factors</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Score_Factors</name>
        <label>Build Score Factors Summary</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>var_ScoreFactors</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ScoreFactorsSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_AppendPenaltyNote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Handle_Error</name>
        <label>Handle Error</label>
        <locationX>528</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_ErrorLogger</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_ThresholdVars</name>
        <label>Load Threshold Values from CMT</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>var_ThresholdVeryHigh</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RiskThresholdRecord.Very_High_Floor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ThresholdHigh</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RiskThresholdRecord.High_Floor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ThresholdModerate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RiskThresholdRecord.Moderate_Floor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RelatedProject</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_DurationCostFallback</name>
        <label>Use Default Duration When Agency Not Found</label>
        <locationX>352</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>var_ResolvedDurationCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.34</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ResolvedDurationMonths</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>15.4</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ResolvedDurationPathway</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Global median fallback — agency not identified</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_StatuteWeights</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_DurationCostFromCMT</name>
        <label>Assign Duration Cost from CMT Record</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignmentItems>
            <assignToReference>var_ResolvedDurationCost</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AgencyDurationRecord.Normalized_Duration_Cost__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ResolvedDurationMonths</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AgencyDurationRecord.Median_Duration_Months__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ResolvedDurationPathway</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AgencyDurationRecord.Pathway_Note__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_StatuteWeights</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_PermitGapPenalty</name>
        <label>Permit Gap Penalty Level?</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <defaultConnector>
            <targetReference>Assign_FinalRiskScore</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Gap — 0 pts</defaultConnectorLabel>
        <rules>
            <name>Gap_High</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nepa_blocked_permit_count__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>3</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_GapPoints_High</targetReference>
            </connector>
            <label>3+ Blocked Permits — 15 pts</label>
        </rules>
        <rules>
            <name>Gap_Low</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nepa_blocked_permit_count__c</leftValueReference>
                <operator>GreaterThanOrEqualTo</operator>
                <rightValue>
                    <numberValue>1</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_GapPoints_Low</targetReference>
            </connector>
            <label>1-2 Blocked Permits — 8 pts</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_AgencyDurationFound</name>
        <label>Agency Duration Record Found?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Build_DurationCostFallback</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Found — use fallback</defaultConnectorLabel>
        <rules>
            <name>Duration_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AgencyDurationRecord.Agency_Key__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_DurationCostFromCMT</targetReference>
            </connector>
            <label>Duration Record Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_AppendPenaltyNote</name>
        <label>Append APA Penalty Note?</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Update_RiskFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Penalty — proceed to update</defaultConnectorLabel>
        <rules>
            <name>Penalty_Applied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_IsExpedited</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.nepa_record_completeness__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_PenaltyNote</targetReference>
            </connector>
            <label>Penalty Applied</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_StatutePresent</name>
        <label>Project Contains This Statute?</label>
        <locationX>352</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Loop_StatuteWeights</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Statute Not Present</defaultConnectorLabel>
        <rules>
            <name>Statute_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RelatedProject.nepa_adjacent_statutes__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_StatuteWeights.Statute_Key__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_StatutePoints</targetReference>
            </connector>
            <label>Statute Present</label>
        </rules>
    </decisions>
    <description>Calculates composite litigation risk score on IndividualApplication via BRE Expression Set NEPA_Litigation_Risk_Scorer. Pre-computes statute risk points (CONTAINS matching not supported in BRE) before invoking the ES. Writes RiskScore, RiskTier, AIConfidence, and ExpeditedPenaltyApplied back to the IA. Fires async after-commit when key risk fields change. Risk band thresholds are loaded from NEPA_Risk_Threshold__mdt (Default record) so they are configurable without a flow deployment.</description>
    <formulas>
        <name>formula_ErrorContext</name>
        <dataType>String</dataType>
        <expression>&quot;Agency:&quot; &amp; {!Get_RelatedProject.nepa_record_owner_agency__c} &amp; &quot;|Circuit:&quot; &amp; {!Get_RelatedProject.nepa_circuit__c} &amp; &quot;|StatutePoints:&quot; &amp; TEXT({!var_StatutePoints})</expression>
    </formulas>
    <formulas>
        <name>formula_IsExpedited</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$Record.nepa_review_timeline_type__c}, &quot;Expedited/Emergency&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_FinalRiskScore</name>
        <dataType>Number</dataType>
        <scale>1</scale>
        <expression>{!var_RiskScore} + {!var_PermitGapPoints}</expression>
    </formulas>
    <formulas>
        <name>formula_RiskTier</name>
        <dataType>String</dataType>
        <expression>IF( {!var_FinalRiskScore} &gt;= {!var_ThresholdVeryHigh}, &quot;Very High&quot;, IF( {!var_FinalRiskScore} &gt;= {!var_ThresholdHigh}, &quot;High&quot;, IF( {!var_FinalRiskScore} &gt;= {!var_ThresholdModerate}, &quot;Moderate&quot;, &quot;Low&quot; ) ) )</expression>
    </formulas>
    <formulas>
        <name>formula_ScoreFactorsSummary</name>
        <dataType>String</dataType>
        <expression>&quot;== LITIGATION PROBABILITY SCORE ==&quot; &amp;
&quot;; [AI-GENERATED — PermitTEC v0.1 684 usable cases; Stage 14 calibrated weights; v3 composite formula]&quot; &amp;
&quot;; ReviewType+Agency+Circuit scored via BRE DM; Statutes:&quot; &amp; TEXT({!var_StatutePoints}) &amp; &quot;pts&quot; &amp;
IF(CONTAINS({!Get_RelatedProject.nepa_adjacent_statutes__c}, &quot;ESA&quot;),
   &quot;; ESA Section 7: +10pts [LOW CONFIDENCE: ECOS API unavailable — flat 1.48x multiplier, cannot decompose consultation-duration vs. jeopardy-finding drivers. Pending TAILS/PCTS linkage.]&quot;,
   &quot;&quot;) &amp;
IF({!var_PermitGapPoints} &gt; 0,
   &quot;; PERMIT GAP: &quot; &amp; TEXT({!$Record.nepa_blocked_permit_count__c}) &amp; &quot; critical-path permit(s) not yet Issued — +&quot; &amp; TEXT({!var_PermitGapPoints}) &amp; &quot;pts&quot;,
   &quot;&quot;) &amp;
&quot;; == LITIGATION COST EXPOSURE ==&quot; &amp;
&quot;; Expected litigation duration: ~&quot; &amp; TEXT({!var_ResolvedDurationMonths}) &amp; &quot; months (&quot; &amp; {!var_ResolvedDurationPathway} &amp; &quot;)&quot; &amp;
&quot;; Duration cost component (15% of score): normalized &quot; &amp; TEXT({!var_ResolvedDurationCost}) &amp;
&quot;; Duration is independent of outcome — cost proxy only, not a win-probability signal&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_ScoreFactorsWithPenalty</name>
        <dataType>String</dataType>
        <expression>{!var_ScoreFactors} &amp; &quot;; APA PENALTY: 1.5x multiplier applied — Expedited/Emergency procedure. Immediate record gap remediation required.&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_SectorCircuitKey</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISBLANK(TEXT({!Get_RelatedProject.nepa_primary_sector__c}))) &amp;&amp; NOT(ISBLANK({!Get_RelatedProject.nepa_circuit__c})), TEXT({!Get_RelatedProject.nepa_primary_sector__c}) &amp; &quot;|&quot; &amp; {!Get_RelatedProject.nepa_circuit__c}, &quot;Default|Default&quot; )</expression>
    </formulas>
    <label>NEPA Litigation Risk Scorer</label>
    <loops>
        <name>Loop_StatuteWeights</name>
        <label>Loop: Statute Risk Weights</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>col_StatuteWeights</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_StatutePresent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Call_NEPA_Risk_Scorer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RelatedProject</name>
        <label>Get Related Program</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_AgencyDuration</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_related_project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>nepa_circuit__c</queriedFields>
        <queriedFields>nepa_adjacent_statutes__c</queriedFields>
        <queriedFields>nepa_record_owner_agency__c</queriedFields>
        <queriedFields>nepa_primary_sector__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_AgencyDuration</name>
        <label>Get Agency Litigation Duration (CMT)</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_AgencyDurationFound</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Agency_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Get_RelatedProject.nepa_record_owner_agency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NEPA_Agency_Duration_Cost__mdt</object>
        <outputReference>var_AgencyDurationRecord</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Agency_Key__c</queriedFields>
        <queriedFields>Median_Duration_Months__c</queriedFields>
        <queriedFields>Normalized_Duration_Cost__c</queriedFields>
        <queriedFields>Pathway_Note__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_RiskThresholds</name>
        <label>Get Risk Score Thresholds (CMT)</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ThresholdVars</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NEPA_Risk_Threshold__mdt</object>
        <outputReference>var_RiskThresholdRecord</outputReference>
        <queriedFields>Very_High_Floor__c</queriedFields>
        <queriedFields>High_Floor__c</queriedFields>
        <queriedFields>Moderate_Floor__c</queriedFields>
        <queriedFields>Legal_Review_Floor__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_StatuteWeights</name>
        <label>Get Active Statute Risk Weights</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_StatuteWeights</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>NEPA_Statute_Risk_Weight__mdt</object>
        <outputReference>col_StatuteWeights</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Statute_Key__c</queriedFields>
        <queriedFields>Risk_Points__c</queriedFields>
        <queriedFields>Low_Data_Confidence__c</queriedFields>
    </recordLookups>
    <!-- sfca-disable flow:SameRecordUpdate: AsyncAfterCommit path, before-save not applicable, writes calculated score fields after async scoring completes -->
    <recordUpdates>
        <name>Update_RiskFields</name>
        <label>Update Risk Fields</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>nepa_expedited_risk_penalty_applied__c</field>
            <value>
                <elementReference>formula_IsExpedited</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_litigation_duration_cost__c</field>
            <value>
                <elementReference>var_ResolvedDurationCost</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_risk_score__c</field>
            <value>
                <elementReference>var_FinalRiskScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_risk_score_factors__c</field>
            <value>
                <elementReference>var_ScoreFactors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_risk_score_updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_risk_tier__c</field>
            <value>
                <elementReference>formula_RiskTier</elementReference>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 OR 2 OR 3</filterLogic>
        <filters>
            <field>nepa_review_type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>nepa_record_completeness__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>nepa_blocked_permit_count__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>IndividualApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_RiskThresholds</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_ErrorLogger</name>
        <label>Log Flow Error</label>
        <locationX>528</locationX>
        <locationY>863</locationY>
        <flowName>NEPA_Error_Logger</flowName>
        <inputAssignments>
            <name>inp_FlowName</name>
            <value>
                <stringValue>NEPA_Litigation_Risk_Scorer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_ErrorMessage</name>
            <value>
                <elementReference>var_ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RunningUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_FailedStep</name>
            <value>
                <stringValue>BRE_RiskScoring</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_ErrorContext</name>
            <value>
                <elementReference>formula_ErrorContext</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>col_StatuteWeights</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_Statute_Risk_Weight__mdt</objectType>
    </variables>
    <variables>
        <name>var_AIConfidence</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>50.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RiskScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_RiskTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ScoreFactors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_StatutePoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_PermitGapPoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_FinalRiskScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_RiskThresholdRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_Risk_Threshold__mdt</objectType>
    </variables>
    <variables>
        <name>var_ThresholdVeryHigh</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>58</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ThresholdHigh</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>45</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ThresholdModerate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>35</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_AgencyDurationRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_Agency_Duration_Cost__mdt</objectType>
    </variables>
    <variables>
        <name>var_ResolvedDurationCost</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.34</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ResolvedDurationMonths</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>15.4</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ResolvedDurationPathway</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
