force-app/main/default/flows/NEPA_Litigation_Risk_Scorer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Calculates composite litigation risk score on IndividualApplication via BRE Expression Set NEPA_Litigation_Risk_Scorer. Pre-computes statute risk points (CONTAINS matching not supported in BRE) before invoking the ES. Writes RiskScore, RiskTier, AIConfidence, and ExpeditedPenaltyApplied back to the IA. Fires async after-commit when key risk fields change.</description>
    <label>NEPA Litigation Risk Scorer</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <!-- ACTIONS -->
    <actionCalls>
        <name>Call_NEPA_Risk_Scorer</name>
        <label>Evaluate Litigation Risk Score</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>NEPA_Litigation_Risk_Scorer</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Build_Score_Factors</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ReviewType</name>
            <value>
                <elementReference>$Record.nepa_review_type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AgencyName</name>
            <value>
                <elementReference>Get_RelatedProject.nepa_lead_agency__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CircuitKey</name>
            <value>
                <elementReference>Get_RelatedProject.nepa_circuit__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StatutePoints</name>
            <value>
                <elementReference>var_StatutePoints</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsExpedited</name>
            <value>
                <elementReference>formula_IsExpedited</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordCompleteness</name>
            <value>
                <elementReference>$Record.nepa_record_completeness__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NEPA_Litigation_Risk_Scorer</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>

    <!-- ASSIGNMENTS -->
    <assignments>
        <name>Assign_StatutePoints</name>
        <label>Add Statute Risk Points</label>
        <locationX>528</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_StatutePoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_StatuteWeights.Risk_Points__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_StatuteWeights</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Score_Factors</name>
        <label>Build Score Factors Summary</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_ScoreFactors</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ScoreFactorsSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_AppendPenaltyNote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Append_PenaltyNote</name>
        <label>Append APA Penalty Note to Score Factors</label>
        <locationX>352</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>var_ScoreFactors</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ScoreFactorsWithPenalty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RiskFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Handle_Error</name>
        <label>Handle Error</label>
        <locationX>528</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_ErrorLogger</targetReference>
        </connector>
    </assignments>

    <!-- DECISIONS -->
    <decisions>
        <name>Decision_StatutePresent</name>
        <label>Project Contains This Statute?</label>
        <locationX>352</locationX>
        <locationY>431</locationY>
        <defaultConnectorLabel>Statute Not Present</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Loop_StatuteWeights</targetReference>
        </defaultConnector>
        <rules>
            <name>Statute_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RelatedProject.nepa_adjacent_statutes__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_StatuteWeights.Statute_Key__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_StatutePoints</targetReference>
            </connector>
            <label>Statute Present</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_AppendPenaltyNote</name>
        <label>Append APA Penalty Note?</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>No Penalty — proceed to update</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Update_RiskFields</targetReference>
        </defaultConnector>
        <rules>
            <name>Penalty_Applied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_NEPA_Risk_Scorer.ExpeditedPenaltyApplied</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_PenaltyNote</targetReference>
            </connector>
            <label>Penalty Applied</label>
        </rules>
    </decisions>

    <!-- FORMULAS -->
    <formulas>
        <name>formula_IsExpedited</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$Record.nepa_review_timeline_type__c}, "Expedited/Emergency")</expression>
    </formulas>
    <formulas>
        <name>formula_ScoreFactorsSummary</name>
        <dataType>String</dataType>
        <expression>"[AI-GENERATED — PermitTEC v0.1, PNNL 2025, 761 cases; circuit weights based on small sample, treat as directional] " &amp; "ReviewType+Agency+Circuit scored via BRE DM lookup; Statutes:" &amp; TEXT({!var_StatutePoints}) &amp; "pts; Total:" &amp; TEXT({!Call_NEPA_Risk_Scorer.RiskScore})</expression>
    </formulas>
    <formulas>
        <name>formula_ScoreFactorsWithPenalty</name>
        <dataType>String</dataType>
        <expression>{!var_ScoreFactors} &amp; "; APA PENALTY: 1.5x multiplier applied — Expedited/Emergency procedure. Immediate record gap remediation required."</expression>
    </formulas>
    <formulas>
        <name>formula_ErrorContext</name>
        <dataType>String</dataType>
        <expression>"Agency:" &amp; {!Get_RelatedProject.nepa_lead_agency__c} &amp; "|Circuit:" &amp; {!Get_RelatedProject.nepa_circuit__c} &amp; "|StatutePoints:" &amp; TEXT({!var_StatutePoints})</expression>
    </formulas>

    <!-- LOOPS -->
    <loops>
        <name>Loop_StatuteWeights</name>
        <label>Loop: Statute Risk Weights</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>col_StatuteWeights</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_StatutePresent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Call_NEPA_Risk_Scorer</targetReference>
        </noMoreValuesConnector>
    </loops>

    <!-- RECORD LOOKUPS -->
    <recordLookups>
        <name>Get_RelatedProject</name>
        <label>Get Related Program</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_StatuteWeights</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_related_project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>nepa_circuit__c</queriedFields>
        <queriedFields>nepa_adjacent_statutes__c</queriedFields>
        <queriedFields>nepa_lead_agency__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_StatuteWeights</name>
        <label>Get Active Statute Risk Weights</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_StatuteWeights</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NEPA_Statute_Risk_Weight__mdt</object>
        <outputReference>col_StatuteWeights</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Statute_Key__c</queriedFields>
        <queriedFields>Risk_Points__c</queriedFields>
    </recordLookups>

    <!-- RECORD UPDATES -->
    <!-- code-analyzer-suppress flow:SameRecordUpdate — intentional async after-save write-back via AsyncAfterCommit scheduledPath; this is the recommended pattern for expensive same-record updates -->
    <recordUpdates>
        <name>Update_RiskFields</name>
        <label>Update Risk Fields</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>nepa_risk_score__c</field>
            <value>
                <elementReference>Call_NEPA_Risk_Scorer.RiskScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_risk_tier__c</field>
            <value>
                <elementReference>Call_NEPA_Risk_Scorer.RiskTier</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_risk_score_factors__c</field>
            <value>
                <elementReference>var_ScoreFactors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_risk_score_updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_expedited_risk_penalty_applied__c</field>
            <value>
                <elementReference>Call_NEPA_Risk_Scorer.ExpeditedPenaltyApplied</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_litigation_ai_confidence__c</field>
            <value>
                <elementReference>Call_NEPA_Risk_Scorer.AIConfidence</elementReference>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
    </recordUpdates>

    <!-- SUBFLOWS -->
    <subflows>
        <name>Call_ErrorLogger</name>
        <label>Log Flow Error</label>
        <locationX>528</locationX>
        <locationY>755</locationY>
        <flowName>NEPA_Error_Logger</flowName>
        <inputAssignments>
            <name>inp_FlowName</name>
            <value>
                <stringValue>NEPA_Litigation_Risk_Scorer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_ErrorMessage</name>
            <value>
                <elementReference>var_ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RunningUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_FailedStep</name>
            <value>
                <stringValue>BRE_RiskScoring</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_ErrorContext</name>
            <value>
                <elementReference>formula_ErrorContext</elementReference>
            </value>
        </inputAssignments>
    </subflows>

    <!-- TRIGGER -->
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>IndividualApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_RelatedProject</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>nepa_review_type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>nepa_record_completeness__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
    </start>

    <!-- VARIABLES -->
    <variables>
        <name>var_StatutePoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ScoreFactors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>col_StatuteWeights</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_Statute_Risk_Weight__mdt</objectType>
    </variables>
    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

</Flow>
