force-app/main/default/flows/NEPA_Stage_Gate_Doc_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Before-save on ApplicationTimeline (create and update). When nepa_status__c is being set to Completed, looks up NEPA_Required_Document__mdt records whose Gate_Event_Type__c matches nepa_event_type__c. If any required document types are absent from the parent IndividualApplication's approved permit documents, blocks the save with a field-level error listing the missing documents. Runs before-save so the error appears inline in the record form without a DML round-trip. CMT queries are governor-exempt. One SOQL is consumed for the ContentVersion check.

Design notes:
- Cross-object field reference $Record.nepa_related_process__r.nepa_review_type__c avoids a Get Records call for the parent.
- Missing doc names are accumulated as a pipe-delimited string via an Assign loop and surfaced in a customErrors element on nepa_status__c.
- No-gate path: if nepa_event_type__c has no matching CMT records with Gate_Event_Type__c set, the save proceeds normally — the check is additive and non-breaking for event types not covered by the current checklist.</description>
    <label>NEPA Stage Gate Document Check</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <assignments>
        <name>Assign_CurrentRequired</name>
        <label>Capture Current Required Doc Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_CurrentDocType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_RequiredDocs.Document_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DocFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ExistingDocs</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Mark_DocFound</name>
        <label>Mark Document Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DocFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <!-- Short-circuit to WasDocFound so the inner loop stops iterating -->
        <connector>
            <targetReference>Decision_WasDocFound</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Append_MissingDoc</name>
        <label>Append Missing Document Type to Error String</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_MissingDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_AppendMissing</elementReference>
            </value>
        </assignmentItems>
    </assignments>

    <!-- Before-save custom error — shows inline on the nepa_status__c field -->
    <customErrors>
        <name>Block_Save</name>
        <label>Block Save — Missing Required Documents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!formula_ErrorMessage}</errorMessage>
            <fieldSelection>nepa_status__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>

    <decisions>
        <name>Decision_HasRequiredDocs</name>
        <label>Any Required Documents for This Gate?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No gate rules — allow save</defaultConnectorLabel>
        <rules>
            <name>Has_Required_Docs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_RequiredDocs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ExistingDocs</targetReference>
            </connector>
            <label>Has Required Documents</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_DocTypeMatch</name>
        <label>Document Type Matches?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No match — continue inner loop</defaultConnectorLabel>
        <rules>
            <name>Type_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_ExistingDocs.nepa_document_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_CurrentDocType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_DocFound</targetReference>
            </connector>
            <label>Type Matches</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_WasDocFound</name>
        <label>Was the Required Document Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not found — add to missing list</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Append_MissingDoc</targetReference>
        </defaultConnector>
        <rules>
            <name>Doc_Was_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DocFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <!-- Connector returns to outer loop for the next required doc type -->
            <connector>
                <targetReference>Loop_RequiredDocs</targetReference>
            </connector>
            <label>Found — continue outer loop</label>
        </rules>
    </decisions>

    <!-- ============================================================
         STEP 4: If any docs are missing, block the save
    ============================================================ -->
    <decisions>
        <name>Decision_AnyMissing</name>
        <label>Any Missing Required Documents?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>All documents present — allow save</defaultConnectorLabel>
        <rules>
            <name>Has_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_MissingDocs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_MissingDocs</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Block_Save</targetReference>
            </connector>
            <label>Missing Documents Exist</label>
        </rules>
    </decisions>

    <!-- ============================================================
         FORMULAS
    ============================================================ -->

    <!-- Builds running missing-doc string: appends ", DocType" each pass -->
    <formulas>
        <name>formula_AppendMissing</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!var_MissingDocs}), {!var_CurrentDocType}, {!var_MissingDocs} &amp; ", " &amp; {!var_CurrentDocType})</expression>
    </formulas>

    <!-- User-facing error message shown on nepa_status__c field -->
    <formulas>
        <name>formula_ErrorMessage</name>
        <dataType>String</dataType>
        <expression>"Cannot complete this milestone. The following required documents are missing or not in Approved status: " &amp; {!var_MissingDocs} &amp; ". Upload and approve these documents before marking this event Completed."</expression>
    </formulas>

    <!-- ============================================================
         STEP 3: For each required doc type, check if it is present
         in the existing doc collection. Accumulate missing types.
         O(n*m) — acceptable at current NEPA checklist scale (<=10 rules).
    ============================================================ -->
    <loops>
        <name>Loop_RequiredDocs</name>
        <label>Check Each Required Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>col_RequiredDocs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CurrentRequired</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_AnyMissing</targetReference>
        </noMoreValuesConnector>
    </loops>

    <!-- Inner loop: scan existing docs for a match -->
    <loops>
        <name>Loop_ExistingDocs</name>
        <label>Scan Existing Docs for Match</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>col_ExistingDocs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_DocTypeMatch</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_WasDocFound</targetReference>
        </noMoreValuesConnector>
    </loops>

    <!-- ============================================================
         STEP 1: Load required document rules for this event type
         CMT queries are governor-exempt.
         Filter: Gate_Event_Type__c = nepa_event_type__c AND Is_Required__c = true AND Active__c = true
    ============================================================ -->
    <recordLookups>
        <name>Get_RequiredDocs</name>
        <label>Get Required Documents for This Gate Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_HasRequiredDocs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Gate_Event_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_event_type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NEPA_Required_Document__mdt</object>
        <outputReference>col_RequiredDocs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Document_Type__c</queriedFields>
        <queriedFields>Stage_Required_By__c</queriedFields>
    </recordLookups>

    <!-- ============================================================
         STEP 2: Query existing approved/published documents for the process
         nepa_process__c is the direct lookup set by NEPA_AdminRecord_AutoCreate.
         Filter to nepa_permit_document record type only — avoids matching
         draft or unrelated ContentVersion records.
         SOQL cost: 1 query against ContentVersion.
    ============================================================ -->
    <recordLookups>
        <name>Get_ExistingDocs</name>
        <label>Get Existing Approved Documents for This Process</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_RequiredDocs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>nepa_process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_related_process__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>nepa_status__c</field>
            <operator>In</operator>
            <value><stringValue>Approved</stringValue></value>
        </filters>
        <filters>
            <field>RecordType.DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>nepa_permit_document</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <outputReference>col_ExistingDocs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>nepa_document_type__c</queriedFields>
    </recordLookups>

    <!-- ============================================================
         TRIGGER: ApplicationTimeline before-save, create + update
         Entry: nepa_status__c changing to Completed AND event type set
         AND related process set (cross-object lookup requires the lookup field)
    ============================================================ -->
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>ApplicationTimeline</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>nepa_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>nepa_event_type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>nepa_related_process__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <connector>
            <targetReference>Get_RequiredDocs</targetReference>
        </connector>
    </start>

    <!-- ============================================================
         VARIABLES
    ============================================================ -->
    <variables>
        <name>col_RequiredDocs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_Required_Document__mdt</objectType>
    </variables>

    <variables>
        <name>col_ExistingDocs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>

    <variables>
        <name>var_CurrentDocType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>var_DocFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>

    <variables>
        <name>var_MissingDocs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
