force-app/main/default/flows/NEPA_Visit_Completion_Assessor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>After-save async on Visit. Fires when Status changes to Completed on an auto-generated hard-gate Visit that has a nepa_process__c. Looks for any remaining open hard-gate Visit on the same Process. If none exist, sets nepa_surveys_complete__c = true on the parent IndividualApplication. Uses getFirstRecordOnly null-check (no loop/count needed). Fault paths route to NEPA_Error_Logger.</description>
    <label>NEPA Visit Completion Assessor</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <!-- ============================================================
         TRIGGER: Visit after-save, async
         Entry: Status = Completed AND nepa_hard_gate__c = true
                AND nepa_auto_generated__c = true AND nepa_process__c not null
         Prior value check on Status ensures we only fire on the
         transition, not on every save of an already-Completed Visit.
    ============================================================ -->
    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <object>Visit</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <connector>
            <targetReference>Get_AnyOpenHardGateVisit</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>nepa_hard_gate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>nepa_process__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
    </start>

    <!-- ============================================================
         GET: look for any remaining open hard-gate Visit on same Process.
         getFirstRecordOnly: true — we only need to know if one exists.
         assignNullValuesIfNoRecordsFound: true so var_FirstOpenVisit
         becomes null when all visits are done.
    ============================================================ -->
    <recordLookups>
        <name>Get_AnyOpenHardGateVisit</name>
        <label>Get Any Open Hard-Gate Visit</label>
        <locationX>176</locationX>
        <locationY>176</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_AnyStillOpen</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Log_GetError</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>nepa_process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_process__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>nepa_hard_gate__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>nepa_auto_generated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Visit</object>
        <outputReference>var_FirstOpenVisit</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>

    <!-- ============================================================
         DECISION: did the lookup return a Visit (still open)?
         Null → all hard-gate Visits on this process are complete.
         Not null → at least one remains; do nothing.
    ============================================================ -->
    <decisions>
        <name>Decision_AnyStillOpen</name>
        <label>Any Hard-Gate Visit Still Open?</label>
        <locationX>176</locationX>
        <locationY>304</locationY>
        <defaultConnector>
            <targetReference>Decision_AlreadySet</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>None Open — all complete</defaultConnectorLabel>
        <rules>
            <name>Rule_StillOpen</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_FirstOpenVisit</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <label>Still Open Visits — exit</label>
        </rules>
    </decisions>

    <!-- ============================================================
         DECISION: avoid redundant DML if the flag is already set.
    ============================================================ -->
    <decisions>
        <name>Decision_AlreadySet</name>
        <label>Already Marked Complete?</label>
        <locationX>176</locationX>
        <locationY>432</locationY>
        <defaultConnector>
            <targetReference>Update_SurveysComplete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Yet Set — update IA</defaultConnectorLabel>
        <rules>
            <name>Rule_AlreadyTrue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nepa_process__r.nepa_surveys_complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Already True — skip DML</label>
        </rules>
    </decisions>

    <!-- ============================================================
         UPDATE: set nepa_surveys_complete__c = true on the IA.
         Filters by Id = nepa_process__c so only one record is touched.
    ============================================================ -->
    <recordUpdates>
        <name>Update_SurveysComplete</name>
        <label>Mark Field Surveys Complete</label>
        <locationX>176</locationX>
        <locationY>560</locationY>
        <faultConnector>
            <targetReference>Log_UpdateError</targetReference>
        </faultConnector>
        <filterLogic>1</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_process__c</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>nepa_surveys_complete__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>

    <!-- ============================================================
         FAULT: Get_AnyOpenHardGateVisit failed
    ============================================================ -->
    <subflows>
        <name>Log_GetError</name>
        <label>Log Get Error</label>
        <locationX>400</locationX>
        <locationY>176</locationY>
        <flowName>NEPA_Error_Logger</flowName>
        <inputAssignments>
            <name>inp_FlowName</name>
            <value>
                <stringValue>NEPA_Visit_Completion_Assessor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RunningUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_FailedStep</name>
            <value>
                <stringValue>Get_AnyOpenHardGateVisit</stringValue>
            </value>
        </inputAssignments>
    </subflows>

    <!-- ============================================================
         FAULT: Update_SurveysComplete failed
    ============================================================ -->
    <subflows>
        <name>Log_UpdateError</name>
        <label>Log Update Error</label>
        <locationX>400</locationX>
        <locationY>560</locationY>
        <flowName>NEPA_Error_Logger</flowName>
        <inputAssignments>
            <name>inp_FlowName</name>
            <value>
                <stringValue>NEPA_Visit_Completion_Assessor</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_ErrorMessage</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RunningUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_FailedStep</name>
            <value>
                <stringValue>Update_SurveysComplete</stringValue>
            </value>
        </inputAssignments>
    </subflows>

    <!-- ============================================================
         VARIABLES
    ============================================================ -->
    <variables>
        <name>var_FirstOpenVisit</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>

</Flow>
