force-app/main/default/flows/NEPA_OFD_Variance_Alert.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Daily scheduled flow (07:00 UTC). Queries IndividualApplication where nepa_fast41_covered__c=true, status is not closed/withdrawn/completed, and nepa_days_elapsed__c exceeds nepa_ofd_target_days__c. Bulk-creates one Task per overriding IA (assigned to IA owner) with subject "OFD Timeline Variance: [name] — over FAST-41 target". Pattern mirrors NEPA_Permit_SLA_Monitor. Fault connector routes to NEPA_Error_Logger subflow.</description>
    <label>NEPA OFD Variance Alert</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <!-- formulas — all grouped -->
    <formulas>
        <name>formula_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>
    <formulas>
        <name>formula_TaskSubject</name>
        <dataType>String</dataType>
        <expression>"OFD Timeline Variance: " &amp; {!var_LoopIA.Name} &amp; " — over FAST-41 target"</expression>
    </formulas>

    <!-- variables — all grouped -->
    <variables>
        <name>var_OverdueTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_LoopIA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>
    <variables>
        <name>var_LoopTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>
    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <!-- recordLookups — all grouped -->
    <recordLookups>
        <name>Get_OverdueOFDProcesses</name>
        <label>Get OFD-Overdue Processes</label>
        <locationX>176</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ProcessesFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND 3 AND 4 AND 5</filterLogic>
        <filters>
            <field>nepa_fast41_covered__c</field>
            <operator>EqualTo</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <filters>
            <field>nepa_process_status__c</field>
            <operator>NotEqualTo</operator>
            <value><stringValue>Closed</stringValue></value>
        </filters>
        <filters>
            <field>nepa_process_status__c</field>
            <operator>NotEqualTo</operator>
            <value><stringValue>Withdrawn</stringValue></value>
        </filters>
        <filters>
            <field>nepa_process_status__c</field>
            <operator>NotEqualTo</operator>
            <value><stringValue>completed</stringValue></value>
        </filters>
        <filters>
            <field>nepa_ofd_target_days__c</field>
            <operator>IsNull</operator>
            <value><booleanValue>false</booleanValue></value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>nepa_days_elapsed__c</queriedFields>
        <queriedFields>nepa_ofd_target_days__c</queriedFields>
        <queriedFields>nepa_process_stage__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- decisions — all grouped -->
    <decisions>
        <name>Decision_ProcessesFound</name>
        <label>Any OFD Processes Found</label>
        <locationX>176</locationX>
        <locationY>266</locationY>
        <defaultConnector>
            <targetReference>Subflow_ErrorLogger_NoData</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Records</defaultConnectorLabel>
        <rules>
            <name>ProcessesFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_OverdueOFDProcesses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_OFDProcesses</targetReference>
            </connector>
            <label>Records Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_IsOverdue</name>
        <label>Is OFD Target Exceeded</label>
        <locationX>396</locationX>
        <locationY>482</locationY>
        <defaultConnector>
            <targetReference>Loop_OFDProcesses</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Within Target</defaultConnectorLabel>
        <rules>
            <name>IsOverdue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_LoopIA.nepa_days_elapsed__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_LoopIA.nepa_ofd_target_days__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_BuildTask</targetReference>
            </connector>
            <label>Overdue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_TasksToCreate</name>
        <label>Tasks To Create</label>
        <locationX>176</locationX>
        <locationY>590</locationY>
        <defaultConnectorLabel>No Tasks</defaultConnectorLabel>
        <rules>
            <name>HasTasks</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_OverdueTasks</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Create_AllTasks</targetReference>
            </connector>
            <label>Has Tasks</label>
        </rules>
    </decisions>

    <!-- loops — all grouped -->
    <loops>
        <name>Loop_OFDProcesses</name>
        <label>Loop OFD Processes</label>
        <locationX>176</locationX>
        <locationY>374</locationY>
        <collectionReference>Get_OverdueOFDProcesses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_LoopIA</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_TasksToCreate</targetReference>
        </noMoreValuesConnector>
    </loops>

    <!-- assignments — all grouped -->
    <assignments>
        <name>Assign_LoopIA</name>
        <label>Capture Loop IA</label>
        <locationX>396</locationX>
        <locationY>374</locationY>
        <assignmentItems>
            <assignToReference>var_LoopIA</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_OFDProcesses</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_IsOverdue</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_BuildTask</name>
        <label>Build Loop Task SObject</label>
        <locationX>616</locationX>
        <locationY>482</locationY>
        <assignmentItems>
            <assignToReference>var_LoopTask.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_TaskSubject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LoopTask.WhatId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_LoopIA.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LoopTask.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_LoopIA.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LoopTask.Priority</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>High</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LoopTask.Status</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>Not Started</stringValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_LoopTask.ActivityDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_Today</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Assign_AddTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_AddTask</name>
        <label>Add Task to Collection</label>
        <locationX>616</locationX>
        <locationY>590</locationY>
        <assignmentItems>
            <assignToReference>var_OverdueTasks</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_LoopTask</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_OFDProcesses</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Handle_Error</name>
        <label>Capture Error</label>
        <locationX>616</locationX>
        <locationY>158</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Subflow_FaultLogger</targetReference>
        </connector>
    </assignments>

    <!-- recordCreates — all grouped -->
    <recordCreates>
        <name>Create_AllTasks</name>
        <label>Bulk Create OFD Variance Tasks</label>
        <locationX>176</locationX>
        <locationY>698</locationY>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <inputReference>var_OverdueTasks</inputReference>
    </recordCreates>

    <!-- subflows — all grouped -->
    <subflows>
        <name>Subflow_ErrorLogger_NoData</name>
        <label>Log No Records (Info)</label>
        <locationX>396</locationX>
        <locationY>266</locationY>
        <flowName>NEPA_Error_Logger</flowName>
        <inputAssignments>
            <name>inp_FlowName</name>
            <value><stringValue>NEPA_OFD_Variance_Alert</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_ErrorMessage</name>
            <value><stringValue>No FAST-41 covered active processes found — no OFD variance tasks created.</stringValue></value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>Subflow_FaultLogger</name>
        <label>Log Flow Error</label>
        <locationX>616</locationX>
        <locationY>266</locationY>
        <flowName>NEPA_Error_Logger</flowName>
        <inputAssignments>
            <name>inp_FlowName</name>
            <value><stringValue>NEPA_OFD_Variance_Alert</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_ErrorMessage</name>
            <value><elementReference>var_ErrorMessage</elementReference></value>
        </inputAssignments>
    </subflows>

    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Get_OverdueOFDProcesses</targetReference>
        </connector>
        <schedule>
            <frequency>Daily</frequency>
            <startDate>2026-01-01</startDate>
            <startTime>07:00:00.000Z</startTime>
        </schedule>
        <triggerType>Scheduled</triggerType>
    </start>

</Flow>
