force-app/main/default/flows/NEPA_WO_Milestone_Setter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>After-save flow on WorkOrder. Fires once when a new auto-generated Work Order is created (nepa_auto_generated__c = true AND IsNew = true AND Status = New). Looks up the NEPA_Layer_Discipline__mdt record matching the WorkOrder's nepa_discipline__c, then fires the discipline-specific Action Plan Template if APT_Developer_Name__c is populated. Uses NepaActionPlanLauncher invocable Apex to launch the APT, since Action Plan Template launch is not available as a native Flow element in API 62.0.</description>
    <environments>Default</environments>
    <interviewLabel>NEPA WO Milestone Setter {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NEPA WO Milestone Setter</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>nepa_auto_generated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>New</stringValue>
            </value>
        </filters>
        <filters>
            <field>nepa_discipline__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>WorkOrder</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>GetDisciplineCMT</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>

    <!-- ═══════════════════════════════════════════════════════════════════ -->
    <!-- Step 1: Find CMT row for this Work Order's discipline              -->
    <!-- ═══════════════════════════════════════════════════════════════════ -->
    <recordLookups>
        <name>GetDisciplineCMT</name>
        <label>Get Discipline CMT Record</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_CMTFound</targetReference>
        </connector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>Discipline__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_discipline__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NEPA_Layer_Discipline__mdt</object>
        <outputReference>var_DisciplineCMT</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Discipline__c</queriedFields>
        <queriedFields>APT_Developer_Name__c</queriedFields>
    </recordLookups>

    <decisions>
        <name>Decision_CMTFound</name>
        <label>CMT Found with APT?</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No CMT or No APT — End</defaultConnectorLabel>
        <rules>
            <name>CMTWithAPT</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>var_DisciplineCMT</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_DisciplineCMT.APT_Developer_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Launch_ActionPlanTemplate</targetReference>
            </connector>
            <label>CMT Found and APT Configured</label>
        </rules>
    </decisions>

    <!-- ═══════════════════════════════════════════════════════════════════ -->
    <!-- Step 2: Launch discipline-specific Action Plan Template via Apex   -->
    <!-- NepaActionPlanLauncher invocable accepts recordId + aptDeveloperName -->
    <!-- ═══════════════════════════════════════════════════════════════════ -->
    <actionCalls>
        <name>Launch_ActionPlanTemplate</name>
        <label>Launch Action Plan Template</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <actionName>NepaActionPlanLauncher</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_APTLaunchError</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_APT_Fault</targetReference>
        </faultConnector>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>aptDeveloperName</name>
            <value>
                <elementReference>var_DisciplineCMT.APT_Developer_Name__c</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>

    <decisions>
        <name>Decision_APTLaunchError</name>
        <label>APT Launch Succeeded?</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>Success — End</defaultConnectorLabel>
        <rules>
            <name>APTLaunchFailed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Launch_ActionPlanTemplate.errorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_APT_ErrorTask</targetReference>
            </connector>
            <label>APT Launch Failed</label>
        </rules>
    </decisions>

    <recordCreates>
        <name>Create_APT_ErrorTask</name>
        <label>Create APT Launch Error Task</label>
        <locationX>440</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Action Plan Template Launch Failed — Manual Milestone Setup Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>Launch_ActionPlanTemplate.errorMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>

    <!-- ═══════════════════════════════════════════════════════════════════ -->
    <!-- Fault handler for Apex action callout failure                      -->
    <!-- ═══════════════════════════════════════════════════════════════════ -->
    <assignments>
        <name>Handle_APT_Fault</name>
        <label>Capture APT Fault Message</label>
        <locationX>440</locationX>
        <locationY>408</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_FaultTask</targetReference>
        </connector>
    </assignments>

    <recordCreates>
        <name>Create_FaultTask</name>
        <label>Create Fault Alert Task</label>
        <locationX>440</locationX>
        <locationY>528</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>NEPA WO Milestone Setter — Unexpected Fault</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>var_ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>

    <!-- ═══════════════════════════════════════════════════════════════════ -->
    <!-- VARIABLES                                                          -->
    <!-- ═══════════════════════════════════════════════════════════════════ -->
    <variables>
        <name>var_DisciplineCMT</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_Layer_Discipline__mdt</objectType>
    </variables>

    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

</Flow>
