force-app/main/default/flows/NEPA_Stage_Gate_Doc_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Before-save on ApplicationTimeline (create and update). When nepa_status__c is being set to Completed, looks up NEPA_Required_Document__mdt records whose Gate_Event_Type__c matches nepa_event_type__c. If any required document types are absent from the parent IndividualApplication's approved permit documents, blocks the save with a field-level error listing the missing documents. Also checks nepa_surveys_complete__c on the parent IA at Draft EA Published and Draft EIS Published gates — if false, appends a field survey incomplete message. At ROD/FONSI gates, checks for uninitiated critical-path permits. Runs before-save so the error appears inline in the record form without a DML round-trip. CMT queries are governor-exempt. One SOQL is consumed for the ContentVersion check.

Design notes:
- Cross-object field reference $Record.nepa_related_process__r.nepa_review_type__c avoids a Get Records call for the parent.
- Missing doc names are accumulated as a pipe-delimited string via an Assign loop and surfaced in a customErrors element on nepa_status__c.
- No-gate path: if nepa_event_type__c has no matching CMT records with Gate_Event_Type__c set, the save proceeds normally — the check is additive and non-breaking for event types not covered by the current checklist.</description>
    <label>NEPA Stage Gate Document Check</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <!-- ASSIGNMENTS -->
    <assignments>
        <name>Assign_CurrentRequired</name>
        <label>Capture Current Required Doc Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_CurrentDocType</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_RequiredDocs.Document_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_DocFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ExistingDocs</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Mark_DocFound</name>
        <label>Mark Document Found</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_DocFound</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_WasDocFound</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Append_MissingDoc</name>
        <label>Append Missing Document Type to Error String</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_MissingDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_AppendMissing</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_RequiredDocs</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Append_SurveysIncomplete</name>
        <label>Append Field Surveys Incomplete to Error String</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_MissingDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_AppendSurveysIncomplete</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_IsRODOrFONSI</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Append_PermitGapToMissingDocs</name>
        <label>Append Permit Gap to Missing Docs Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_MissingDocs</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_AppendPermitGap</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_AnyMissing</targetReference>
        </connector>
    </assignments>

    <!-- Before-save custom error — shows inline on the nepa_status__c field -->
    <customErrors>
        <name>Block_Save</name>
        <label>Block Save — Missing Required Documents</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>{!formula_ErrorMessage}</errorMessage>
            <fieldSelection>nepa_status__c</fieldSelection>
            <isFieldError>true</isFieldError>
        </customErrorMessages>
    </customErrors>

    <!-- DECISIONS -->
    <decisions>
        <name>Decision_HasRequiredDocs</name>
        <label>Any Required Documents for This Gate?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No gate rules — allow save</defaultConnectorLabel>
        <rules>
            <name>Has_Required_Docs</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_RequiredDocs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ExistingDocs</targetReference>
            </connector>
            <label>Has Required Documents</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_DocTypeMatch</name>
        <label>Document Type Matches?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No match — continue inner loop</defaultConnectorLabel>
        <rules>
            <name>Type_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_ExistingDocs.nepa_document_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>var_CurrentDocType</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Mark_DocFound</targetReference>
            </connector>
            <label>Type Matches</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_WasDocFound</name>
        <label>Was the Required Document Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not found — add to missing list</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Append_MissingDoc</targetReference>
        </defaultConnector>
        <rules>
            <name>Doc_Was_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_DocFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_RequiredDocs</targetReference>
            </connector>
            <label>Found — continue outer loop</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_AnyMissing</name>
        <label>Any Missing Required Documents?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>All documents present — allow save</defaultConnectorLabel>
        <rules>
            <name>Has_Missing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_MissingDocs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_MissingDocs</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Block_Save</targetReference>
            </connector>
            <label>Missing Documents Exist</label>
        </rules>
    </decisions>

    <!-- STEP 4a: At Draft EA/EIS Published gates, check field surveys complete -->
    <decisions>
        <name>Decision_IsDraftPublished</name>
        <label>Is this a Draft EA or Draft EIS Published Gate?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_IsRODOrFONSI</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Draft EA/EIS — skip survey check</defaultConnectorLabel>
        <rules>
            <name>IsDraftEA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nepa_event_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft EA Published</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_SurveysComplete</targetReference>
            </connector>
            <label>Draft EA Published</label>
        </rules>
        <rules>
            <name>IsDraftEIS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nepa_event_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Draft EIS Published</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_SurveysComplete</targetReference>
            </connector>
            <label>Draft EIS Published</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_SurveysComplete</name>
        <label>Field Surveys Complete on Parent Process?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Append_SurveysIncomplete</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Surveys not complete — append error</defaultConnectorLabel>
        <rules>
            <name>Surveys_Are_Complete</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nepa_related_process__r.nepa_surveys_complete__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_IsRODOrFONSI</targetReference>
            </connector>
            <label>Surveys complete — proceed</label>
        </rules>
    </decisions>

    <!-- STEP 4b: At ROD/FONSI gates, check for uninitiated critical-path permits -->
    <decisions>
        <name>Decision_IsRODOrFONSI</name>
        <label>Is this a ROD or FONSI Gate?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_AnyMissing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not ROD/FONSI — skip permit check</defaultConnectorLabel>
        <rules>
            <name>IsROD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nepa_event_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>ROD Issued</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_UninitatedCriticalPermits</targetReference>
            </connector>
            <label>ROD Issued</label>
        </rules>
        <rules>
            <name>IsFONSI</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nepa_event_type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>FONSI Issued</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_UninitatedCriticalPermits</targetReference>
            </connector>
            <label>FONSI Issued</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_UninitiatedPermitsExist</name>
        <label>Uninitiated Critical Permits Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Decision_AnyMissing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No uninitiated permits — proceed</defaultConnectorLabel>
        <rules>
            <name>UninitiatedPermits_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_UninitatedCriticalPermits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_PermitGapToMissingDocs</targetReference>
            </connector>
            <label>Uninitiated Permits Exist</label>
        </rules>
    </decisions>

    <!-- FORMULAS -->
    <formulas>
        <name>formula_AppendMissing</name>
        <dataType>String</dataType>
        <expression>IF(ISBLANK({!var_MissingDocs}), {!var_CurrentDocType}, {!var_MissingDocs} &amp; ", " &amp; {!var_CurrentDocType})</expression>
    </formulas>

    <formulas>
        <name>formula_ErrorMessage</name>
        <dataType>String</dataType>
        <expression>"Cannot complete this milestone. The following required documents are missing or not in Approved status: " &amp; {!var_MissingDocs} &amp; ". Upload and approve these documents before marking this event Completed."</expression>
    </formulas>

    <formulas>
        <name>formula_AppendSurveysIncomplete</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!var_MissingDocs}),
  "Required field surveys (hard-gate discipline Visits) are not yet complete. All auto-generated hard-gate field surveys must be marked Completed before this milestone can be closed.",
  {!var_MissingDocs} &amp; ", Required field surveys (hard-gate discipline Visits) are not yet complete. All auto-generated hard-gate field surveys must be marked Completed before this milestone can be closed."
)</expression>
    </formulas>

    <formulas>
        <name>formula_AppendPermitGap</name>
        <dataType>String</dataType>
        <expression>IF(
  ISBLANK({!var_MissingDocs}),
  "Critical-path permit(s) not yet initiated (" &amp; TEXT({!$Record.nepa_related_process__r.nepa_blocked_permit_count__c}) &amp; " permit(s) in Not Started status)",
  {!var_MissingDocs} &amp; ", Critical-path permit(s) not yet initiated (" &amp; TEXT({!$Record.nepa_related_process__r.nepa_blocked_permit_count__c}) &amp; " permit(s) in Not Started status)"
)</expression>
    </formulas>

    <!-- LOOPS -->
    <loops>
        <name>Loop_RequiredDocs</name>
        <label>Check Each Required Document</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>col_RequiredDocs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Assign_CurrentRequired</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_IsDraftPublished</targetReference>
        </noMoreValuesConnector>
    </loops>

    <loops>
        <name>Loop_ExistingDocs</name>
        <label>Scan Existing Docs for Match</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>col_ExistingDocs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_DocTypeMatch</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_WasDocFound</targetReference>
        </noMoreValuesConnector>
    </loops>

    <!-- RECORD LOOKUPS -->
    <recordLookups>
        <name>Get_RequiredDocs</name>
        <label>Get Required Documents for This Gate Event</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_HasRequiredDocs</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Gate_Event_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_event_type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Is_Required__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NEPA_Required_Document__mdt</object>
        <outputReference>col_RequiredDocs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Document_Type__c</queriedFields>
        <queriedFields>Stage_Required_By__c</queriedFields>
    </recordLookups>

    <recordLookups>
        <name>Get_ExistingDocs</name>
        <label>Get Existing Approved Documents for This Process</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_RequiredDocs</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3 AND 4</filterLogic>
        <filters>
            <field>nepa_process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_related_process__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>nepa_status__c</field>
            <operator>EqualTo</operator>
            <value><stringValue>Approved</stringValue></value>
        </filters>
        <filters>
            <field>IsLatest</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>nepa_draft_source__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>AI-Generated</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContentVersion</object>
        <outputReference>col_ExistingDocs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>nepa_document_type__c</queriedFields>
    </recordLookups>

    <recordLookups>
        <name>Get_UninitatedCriticalPermits</name>
        <label>Get Uninitiated Critical-Path Permits</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_UninitiatedPermitsExist</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>nepa_process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_related_process__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>nepa_is_critical_path__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>nepa_permit_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>nepa_required_permit__c</object>
        <outputReference>col_UninitatedCriticalPermits</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>

    <!-- TRIGGER: ApplicationTimeline before-save, create + update -->
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>ApplicationTimeline</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>nepa_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>nepa_event_type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>nepa_related_process__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <connector>
            <targetReference>Get_RequiredDocs</targetReference>
        </connector>
    </start>

    <!-- VARIABLES -->
    <variables>
        <name>col_UninitatedCriticalPermits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nepa_required_permit__c</objectType>
    </variables>

    <variables>
        <name>col_RequiredDocs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_Required_Document__mdt</objectType>
    </variables>

    <variables>
        <name>col_ExistingDocs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ContentVersion</objectType>
    </variables>

    <variables>
        <name>var_CurrentDocType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>var_DocFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </variables>

    <variables>
        <name>var_MissingDocs</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
