force-app/main/default/flows/NEPA_GIS_Proximity_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>After-save flow on Program. Fires when nepa_location_lat__c or nepa_location_lon__c is changed and both are non-null. Invokes NEPA_GIS_Proximity_IP asynchronously to query federal ArcGIS endpoints and write protection area findings back to nepa_protection_areas__c, nepa_gis_last_checked__c, and nepa_extraordinary_circumstances__c. Add new layers by inserting NEPA_GIS_Layer__mdt records — no flow changes needed.</description>
    <environments>Default</environments>
    <interviewLabel>NEPA GIS Proximity Check {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NEPA GIS Proximity Check</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>CheckCoordinatesPresent</targetReference>
        </connector>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>nepa_location_lat__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>nepa_location_lon__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Program</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
    </start>
    <status>Draft</status>

    <!-- Gate: only proceed when both lat AND lon are present -->
    <decisions>
        <name>CheckCoordinatesPresent</name>
        <label>Coordinates Present?</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <defaultConnectorLabel>Missing Coordinates — Skip</defaultConnectorLabel>
        <rules>
            <name>BothCoordinatesSet</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nepa_location_lat__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.nepa_location_lon__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>InvokeGISProximityIP</targetReference>
            </connector>
            <label>Both Coordinates Set</label>
        </rules>
    </decisions>

    <!-- Invoke NEPA_GIS_Proximity_IP as async subflow -->
    <subflows>
        <name>InvokeGISProximityIP</name>
        <label>Invoke GIS Proximity IP</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <flowName>NEPA_GIS_Proximity_IP</flowName>
        <inputAssignments>
            <name>projectId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </subflows>

</Flow>
