force-app/main/default/flows/NEPA_FlowError_CountIncrementer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>After-save on NEPA_Flow_Error__c (create only). When nepa_record_id__c holds a valid 18-char IndividualApplication ID, increments nepa_flow_error_count__c on that record by 1. Runs in the clean transaction started by NEPA_Error_Event_Handler (the platform event subscriber), so there is no risk of interfering with the original faulting transaction. No fault path — a fault here would be terminal and is acceptable given the diagnostic-only nature of this field.</description>
    <label>NEPA Flow Error Count Incrementer</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>NEPA_Flow_Error__c</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <filterLogic>and</filterLogic>
        <filters>
            <field>nepa_record_id__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <connector>
            <targetReference>Decision_RecordIdLength</targetReference>
        </connector>
    </start>

    <!-- ============================================================
         GUARD: only proceed if nepa_record_id__c looks like a valid
         18-char Salesforce ID (LEN check via formula decision)
    ============================================================ -->
    <decisions>
        <name>Decision_RecordIdLength</name>
        <label>Record ID Is 18 Characters?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not 18 chars — exit</defaultConnectorLabel>
        <rules>
            <name>Valid_RecordId</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nepa_record_id__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>formula_RecordIdIfValid</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_IndividualApplication</targetReference>
            </connector>
            <label>Valid 18-char ID</label>
        </rules>
    </decisions>

    <!-- ============================================================
         LOOKUP: resolve IndividualApplication by the text ID
    ============================================================ -->
    <recordLookups>
        <name>Get_IndividualApplication</name>
        <label>Get IndividualApplication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_AppFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_record_id__c</elementReference>
            </value>
        </filters>
        <object>IndividualApplication</object>
        <outputReference>rec_Application</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>nepa_flow_error_count__c</queriedFields>
    </recordLookups>

    <decisions>
        <name>Decision_AppFound</name>
        <label>IndividualApplication Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Found — exit</defaultConnectorLabel>
        <rules>
            <name>App_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_Application</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Increment_ErrorCount</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>

    <!-- ============================================================
         ASSIGN: compute new count into a variable
         (Flow recordUpdate with Add operator on a fetched field value)
    ============================================================ -->
    <assignments>
        <name>Increment_ErrorCount</name>
        <label>Compute Incremented Error Count</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NewErrorCount</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_Application.nepa_flow_error_count__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_NewErrorCount</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ErrorCount</targetReference>
        </connector>
    </assignments>

    <!-- code-analyzer-suppress flow:MissingFaultHandler - diagnostic counter; fault here does not affect permitting data integrity -->
    <recordUpdates>
        <name>Update_ErrorCount</name>
        <label>Increment Flow Error Count on IndividualApplication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>nepa_flow_error_count__c</field>
            <value>
                <elementReference>var_NewErrorCount</elementReference>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_Application.Id</elementReference>
            </value>
        </filters>
    </recordUpdates>

    <!-- ============================================================
         FORMULA: returns the record ID string only if LEN == 18
    ============================================================ -->
    <formulas>
        <name>formula_RecordIdIfValid</name>
        <dataType>String</dataType>
        <expression>IF(LEN({!$Record.nepa_record_id__c}) = 18, {!$Record.nepa_record_id__c}, "")</expression>
    </formulas>

    <!-- ============================================================
         VARIABLES
    ============================================================ -->
    <variables>
        <name>rec_Application</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>

    <variables>
        <name>var_NewErrorCount</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>

</Flow>
