force-app/main/default/flows/NEPA_Permit_Coordinator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>After-save async flow on IndividualApplication. Fires when nepa_review_type__c is set or changes. Fetches parent Program sector and project type, invokes NEPA_Permit_Coordinator BRE Expression Set to look up required permits and cooperating agencies, writes results to the IA, and creates a permit coordination task when required permits are non-empty.</description>
    <label>NEPA Permit Coordinator</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <!-- ACTIONS -->
    <actionCalls>
        <name>Call_NEPA_Permit_Lookup</name>
        <label>Lookup Permit Matrix</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <actionName>NEPA_Permit_Coordinator</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Decision_PermitsFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Sector</name>
            <value>
                <elementReference>Get_ParentProgram.nepa_primary_sector__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ProjectType</name>
            <value>
                <elementReference>Get_ParentProgram.nepa_project_type__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NEPA_Permit_Coordinator</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>

    <!-- ASSIGNMENTS -->
    <assignments>
        <name>Handle_Error</name>
        <label>Handle Error</label>
        <locationX>352</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_ErrorLogger</targetReference>
        </connector>
    </assignments>

    <!-- DECISIONS -->
    <decisions>
        <name>Decision_ParentProgramFound</name>
        <label>Parent Program Found?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnectorLabel>No Parent Program — Skip</defaultConnectorLabel>
        <rules>
            <name>ParentProgram_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ParentProgram</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_NEPA_Permit_Lookup</targetReference>
            </connector>
            <label>Parent Program Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_PermitsFound</name>
        <label>Permits Found?</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnectorLabel>No Matrix Match — Skip</defaultConnectorLabel>
        <rules>
            <name>Permits_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_NEPA_Permit_Lookup.RequiredPermits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_IA_PermitFields</targetReference>
            </connector>
            <label>Permits Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_PermitsNonEmpty</name>
        <label>Required Permits Non-Empty?</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <defaultConnectorLabel>No Permits — Skip Task</defaultConnectorLabel>
        <rules>
            <name>Permits_NonEmpty</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Call_NEPA_Permit_Lookup.RequiredPermits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_PermitCoordTask</targetReference>
            </connector>
            <label>Permits Present</label>
        </rules>
    </decisions>

    <!-- FORMULAS -->
    <formulas>
        <name>formula_GISAugmentedPermits</name>
        <dataType>String</dataType>
        <expression>{!Call_NEPA_Permit_Lookup.RequiredPermits} &amp;
IF(
  {!$Record.nepa_wetlands_flag__c} &amp;&amp;
  NOT(CONTAINS({!Call_NEPA_Permit_Lookup.RequiredPermits}, "CWA Section 404")),
  "; CWA Section 404 Permit",
  ""
) &amp;
IF(
  {!$Record.nepa_nhd_proximity_flag__c} &amp;&amp;
  NOT(CONTAINS({!Call_NEPA_Permit_Lookup.RequiredPermits}, "CWA Section 401")),
  "; CWA Section 401 Water Quality Certification",
  ""
) &amp;
IF(
  {!$Record.nepa_tribal_lands_flag__c} &amp;&amp;
  NOT(CONTAINS({!Call_NEPA_Permit_Lookup.RequiredPermits}, "NHPA Section 106")),
  "; NHPA Section 106 Consultation",
  ""
) &amp;
IF(
  {!$Record.nepa_ec_usace_czma__c} &amp;&amp;
  NOT(CONTAINS({!Call_NEPA_Permit_Lookup.RequiredPermits}, "CZMA")),
  "; CZMA Federal Consistency Determination",
  ""
) &amp;
IF(
  {!$Record.nepa_air_nonattainment_flag__c} &amp;&amp;
  NOT(CONTAINS({!Call_NEPA_Permit_Lookup.RequiredPermits}, "Clean Air Act General Conformity")),
  "; Clean Air Act General Conformity Determination",
  ""
) &amp;
IF(
  {!$Record.nepa_wild_scenic_river_flag__c} &amp;&amp;
  NOT(CONTAINS({!Call_NEPA_Permit_Lookup.RequiredPermits}, "Wild and Scenic")),
  "; Wild and Scenic Rivers Act Section 7 Compliance",
  ""
) &amp;
IF(
  {!$Record.nepa_blm_acec_flag__c} &amp;&amp;
  NOT(CONTAINS({!Call_NEPA_Permit_Lookup.RequiredPermits}, "FLPMA")),
  "; FLPMA Title V ROW Permit",
  ""
) &amp;
IF(
  {!$Record.nepa_fuds_flag__c} &amp;&amp;
  NOT(CONTAINS({!Call_NEPA_Permit_Lookup.RequiredPermits}, "RCRA")),
  "; RCRA Hazardous Waste Site Review",
  ""
)</expression>
    </formulas>
    <formulas>
        <name>formula_TaskSubject</name>
        <dataType>String</dataType>
        <expression>"Permit Coordination Required — " &amp; TEXT({!Get_ParentProgram.nepa_primary_sector__c})</expression>
    </formulas>
    <formulas>
        <name>formula_TaskDescription</name>
        <dataType>String</dataType>
        <expression>"Required permits identified from NEPA Permit Matrix. " &amp;
"Permits: " &amp; {!Call_NEPA_Permit_Lookup.RequiredPermits} &amp; ". " &amp;
"Cooperating agencies: " &amp; {!Call_NEPA_Permit_Lookup.CooperatingAgencies} &amp; ". " &amp;
"Initiate coordination and document outcomes in the administrative record."</expression>
    </formulas>
    <formulas>
        <name>formula_ErrorContext</name>
        <dataType>String</dataType>
        <expression>"Sector:" &amp; TEXT({!Get_ParentProgram.nepa_primary_sector__c}) &amp; "|ProjectType:" &amp; {!Get_ParentProgram.nepa_project_type__c}</expression>
    </formulas>

    <!-- RECORD CREATES -->
    <recordCreates>
        <name>Create_PermitCoordTask</name>
        <label>Create Permit Coordination Task</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>formula_TaskSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>formula_TaskDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>

    <!-- RECORD LOOKUPS -->
    <recordLookups>
        <name>Get_ParentProgram</name>
        <label>Get Parent Program</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <connector>
            <targetReference>Decision_ParentProgramFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_related_project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- RECORD UPDATES -->
    <!-- code-analyzer-suppress flow:SameRecordUpdate — intentional async after-save write-back via AsyncAfterCommit scheduledPath; this is the recommended pattern for expensive same-record updates -->
    <recordUpdates>
        <name>Update_IA_PermitFields</name>
        <label>Write Permit Data to IndividualApplication</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <connector>
            <targetReference>Decision_PermitsNonEmpty</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>nepa_co_permits_required__c</field>
            <value>
                <elementReference>formula_GISAugmentedPermits</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_cooperating_agencies__c</field>
            <value>
                <elementReference>Call_NEPA_Permit_Lookup.CooperatingAgencies</elementReference>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>

    <!-- SUBFLOWS -->
    <subflows>
        <name>Call_ErrorLogger</name>
        <label>Log Flow Error</label>
        <locationX>352</locationX>
        <locationY>539</locationY>
        <flowName>NEPA_Error_Logger</flowName>
        <inputAssignments>
            <name>inp_FlowName</name>
            <value>
                <stringValue>NEPA_Permit_Coordinator</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_ErrorMessage</name>
            <value>
                <elementReference>var_ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RunningUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_ErrorContext</name>
            <value>
                <elementReference>formula_ErrorContext</elementReference>
            </value>
        </inputAssignments>
    </subflows>

    <!-- TRIGGER -->
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>IndividualApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_ParentProgram</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <filterLogic>and</filterLogic>
        <filters>
            <field>nepa_review_type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>nepa_review_type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>nepa_related_project__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
    </start>

    <!-- VARIABLES -->
    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>

</Flow>
