force-app/main/default/flows/NEPA_Litigation_Risk_Scorer.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Call_NEPA_Risk_Scorer</name>
        <label>Evaluate Litigation Risk Score</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <actionName>NEPA_Litigation_Risk_Scorer</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Build_Score_Factors</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>ReviewType</name>
            <value>
                <elementReference>$Record.nepa_review_type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>AgencyName</name>
            <value>
                <elementReference>Get_RelatedProject.nepa_record_owner_agency__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>CircuitKey</name>
            <value>
                <elementReference>Get_RelatedProject.nepa_circuit__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>StatutePoints</name>
            <value>
                <elementReference>var_StatutePoints</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>IsExpedited</name>
            <value>
                <elementReference>formula_IsExpedited</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>RecordCompleteness</name>
            <value>
                <elementReference>$Record.nepa_record_completeness__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ChallengeDelta</name>
            <value>
                <elementReference>$Record.nepa_challenge_risk_delta__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SectorCircuitKey</name>
            <value>
                <elementReference>formula_SectorCircuitKey</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ScopingOverrunFlag</name>
            <value>
                <elementReference>$Record.nepa_scoping_overrun_flag__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ScopingOverrunMonths</name>
            <value>
                <elementReference>$Record.nepa_projected_scoping_overrun_months__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NEPA_Litigation_Risk_Scorer</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>62.0</apiVersion>
    <assignments>
        <name>Append_PenaltyNote</name>
        <label>Append APA Penalty Note to Score Factors</label>
        <locationX>352</locationX>
        <locationY>863</locationY>
        <assignmentItems>
            <assignToReference>var_ScoreFactors</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ScoreFactorsWithPenalty</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_RiskFields</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_StatutePoints</name>
        <label>Add Statute Risk Points</label>
        <locationX>528</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_StatutePoints</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_StatuteWeights.Risk_Points__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_StatuteWeights</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Score_Factors</name>
        <label>Build Score Factors Summary</label>
        <locationX>176</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>var_ScoreFactors</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_ScoreFactorsSummary</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Decision_AppendPenaltyNote</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Handle_Error</name>
        <label>Handle Error</label>
        <locationX>528</locationX>
        <locationY>755</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_ErrorLogger</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Decision_AppendPenaltyNote</name>
        <label>Append APA Penalty Note?</label>
        <locationX>176</locationX>
        <locationY>863</locationY>
        <defaultConnector>
            <targetReference>Update_RiskFields</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Penalty — proceed to update</defaultConnectorLabel>
        <rules>
            <name>Penalty_Applied</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_IsExpedited</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.nepa_record_completeness__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <numberValue>100.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Append_PenaltyNote</targetReference>
            </connector>
            <label>Penalty Applied</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_StatutePresent</name>
        <label>Project Contains This Statute?</label>
        <locationX>352</locationX>
        <locationY>431</locationY>
        <defaultConnector>
            <targetReference>Loop_StatuteWeights</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Statute Not Present</defaultConnectorLabel>
        <rules>
            <name>Statute_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_RelatedProject.nepa_adjacent_statutes__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>Loop_StatuteWeights.Statute_Key__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_StatutePoints</targetReference>
            </connector>
            <label>Statute Present</label>
        </rules>
    </decisions>
    <description>Calculates composite litigation risk score on IndividualApplication via BRE Expression Set NEPA_Litigation_Risk_Scorer. Pre-computes statute risk points (CONTAINS matching not supported in BRE) before invoking the ES. Writes RiskScore, RiskTier, AIConfidence, and ExpeditedPenaltyApplied back to the IA. Fires async after-commit when key risk fields change. Risk band thresholds are loaded from NEPA_Risk_Threshold__mdt (Default record) so they are configurable without a flow deployment.</description>
    <formulas>
        <name>formula_ErrorContext</name>
        <dataType>String</dataType>
        <expression>&quot;Agency:&quot; &amp; {!Get_RelatedProject.nepa_record_owner_agency__c} &amp; &quot;|Circuit:&quot; &amp; {!Get_RelatedProject.nepa_circuit__c} &amp; &quot;|StatutePoints:&quot; &amp; TEXT({!var_StatutePoints})</expression>
    </formulas>
    <formulas>
        <name>formula_IsExpedited</name>
        <dataType>Boolean</dataType>
        <expression>ISPICKVAL({!$Record.nepa_review_timeline_type__c}, &quot;Expedited/Emergency&quot;)</expression>
    </formulas>
    <formulas>
        <name>formula_RiskTier</name>
        <dataType>String</dataType>
        <expression>IF( {!Call_NEPA_Risk_Scorer.RiskScore} &gt;= {!var_ThresholdVeryHigh}, &quot;Very High&quot;, IF( {!Call_NEPA_Risk_Scorer.RiskScore} &gt;= {!var_ThresholdHigh}, &quot;High&quot;, IF( {!Call_NEPA_Risk_Scorer.RiskScore} &gt;= {!var_ThresholdModerate}, &quot;Moderate&quot;, &quot;Low&quot; ) ) )</expression>
    </formulas>
    <formulas>
        <name>formula_ScoreFactorsSummary</name>
        <dataType>String</dataType>
        <expression>&quot;[AI-GENERATED — PermitTEC v0.1 684 usable cases; Stage 7 calibrated weights; agency loss_rate×0.40×2.5; circuit (multiplier−0.30)×25×1.5; statute (multiplier−1.0)×20] &quot; &amp; &quot;ReviewType+Agency+Circuit scored via BRE DM; Statutes:&quot; &amp; TEXT({!var_StatutePoints}) &amp; &quot;pts&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_ScoreFactorsWithPenalty</name>
        <dataType>String</dataType>
        <expression>{!var_ScoreFactors} &amp; &quot;; APA PENALTY: 1.5x multiplier applied — Expedited/Emergency procedure. Immediate record gap remediation required.&quot;</expression>
    </formulas>
    <formulas>
        <name>formula_SectorCircuitKey</name>
        <dataType>String</dataType>
        <expression>IF( NOT(ISBLANK(TEXT({!Get_RelatedProject.nepa_primary_sector__c}))) &amp;&amp; NOT(ISBLANK({!Get_RelatedProject.nepa_circuit__c})), TEXT({!Get_RelatedProject.nepa_primary_sector__c}) &amp; &quot;|&quot; &amp; {!Get_RelatedProject.nepa_circuit__c}, &quot;Default|Default&quot; )</expression>
    </formulas>
    <label>NEPA Litigation Risk Scorer</label>
    <loops>
        <name>Loop_StatuteWeights</name>
        <label>Loop: Statute Risk Weights</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>col_StatuteWeights</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_StatutePresent</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Call_NEPA_Risk_Scorer</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>Get_RelatedProject</name>
        <label>Get Related Program</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Get_StatuteWeights</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_related_project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>nepa_circuit__c</queriedFields>
        <queriedFields>nepa_adjacent_statutes__c</queriedFields>
        <queriedFields>nepa_record_owner_agency__c</queriedFields>
        <queriedFields>nepa_primary_sector__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Get_RiskThresholds</name>
        <label>Get Risk Score Thresholds (CMT)</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Assign_ThresholdVars</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NEPA_Risk_Threshold__mdt</object>
        <outputReference>var_RiskThresholdRecord</outputReference>
        <queriedFields>Very_High_Floor__c</queriedFields>
        <queriedFields>High_Floor__c</queriedFields>
        <queriedFields>Moderate_Floor__c</queriedFields>
        <queriedFields>Legal_Review_Floor__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>Get_StatuteWeights</name>
        <label>Get Active Statute Risk Weights</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_StatuteWeights</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>NEPA_Statute_Risk_Weight__mdt</object>
        <outputReference>col_StatuteWeights</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Statute_Key__c</queriedFields>
        <queriedFields>Risk_Points__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>Update_RiskFields</name>
        <label>Update Risk Fields</label>
        <locationX>176</locationX>
        <locationY>971</locationY>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>nepa_expedited_risk_penalty_applied__c</field>
            <value>
                <elementReference>formula_IsExpedited</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_risk_score__c</field>
            <value>
                <elementReference>Call_NEPA_Risk_Scorer.RiskScore</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_risk_score_factors__c</field>
            <value>
                <elementReference>var_ScoreFactors</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_risk_score_updated__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_risk_tier__c</field>
            <value>
                <elementReference>formula_RiskTier</elementReference>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
    </recordUpdates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <filterLogic>1 OR 2</filterLogic>
        <filters>
            <field>nepa_review_type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>nepa_record_completeness__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>IndividualApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_RiskThresholds</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_ErrorLogger</name>
        <label>Log Flow Error</label>
        <locationX>528</locationX>
        <locationY>863</locationY>
        <flowName>NEPA_Error_Logger</flowName>
        <inputAssignments>
            <name>inp_FlowName</name>
            <value>
                <stringValue>NEPA_Litigation_Risk_Scorer</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_ErrorMessage</name>
            <value>
                <elementReference>var_ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RecordId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RunningUserId</name>
            <value>
                <elementReference>$User.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_FailedStep</name>
            <value>
                <stringValue>BRE_RiskScoring</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_ErrorContext</name>
            <value>
                <elementReference>formula_ErrorContext</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <assignments>
        <name>Assign_ThresholdVars</name>
        <label>Load Threshold Values from CMT</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <assignmentItems>
            <assignToReference>var_ThresholdVeryHigh</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RiskThresholdRecord.Very_High_Floor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ThresholdHigh</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RiskThresholdRecord.High_Floor__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_ThresholdModerate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_RiskThresholdRecord.Moderate_Floor__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_RelatedProject</targetReference>
        </connector>
    </assignments>
    <variables>
        <name>col_StatuteWeights</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_Statute_Risk_Weight__mdt</objectType>
    </variables>
    <variables>
        <name>var_AIConfidence</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>50.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_RiskScore</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_RiskTier</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ScoreFactors</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_StatutePoints</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>1</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_RiskThresholdRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_Risk_Threshold__mdt</objectType>
    </variables>
    <variables>
        <name>var_ThresholdVeryHigh</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>58</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ThresholdHigh</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>45</numberValue>
        </value>
    </variables>
    <variables>
        <name>var_ThresholdModerate</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>35</numberValue>
        </value>
    </variables>
</Flow>
