force-app/main/default/flows/NEPA_Comment_Duplicate_Check.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>MFR 8 — Comment duplicate detection. Invocable autolaunched flow that checks whether a new PublicComplaint is substantially similar to existing comments on the same NEPA process within the past 30 days. Uses text substring matching on comment body. Sets nepa_is_duplicate__c and nepa_duplicate_of__c on the incoming comment when a match is found. Called by the NEPA_Comment_AI_Router trigger flow and the NEPA_Comment_Triage agent save_triage topic.</description>
    <label>NEPA Comment Duplicate Check</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <!-- All decisions together — Flow Metadata API requires same-type elements be contiguous -->
    <decisions>
        <name>Decision_HasProcess</name>
        <label>Has Related Process?</label>
        <locationX>176</locationX>
        <locationY>107</locationY>
        <defaultConnector>
            <targetReference>Set_No_Duplicate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No process — skip</defaultConnectorLabel>
        <rules>
            <name>Has_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inp_RelatedProcessId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inp_CommentBody</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ExistingComments</targetReference>
            </connector>
            <label>Has process and body</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_HasPriorComments</name>
        <label>Prior Comments Exist?</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Set_No_Duplicate</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No prior comments</defaultConnectorLabel>
        <rules>
            <name>Prior_Comments_Exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Get_ExistingComments</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Comments</targetReference>
            </connector>
            <label>Prior comments found</label>
        </rules>
    </decisions>

    <decisions>
        <name>Check_Similarity</name>
        <label>Comment Body Similar?</label>
        <locationX>176</locationX>
        <locationY>539</locationY>
        <defaultConnector>
            <targetReference>Loop_Comments</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not similar — continue loop</defaultConnectorLabel>
        <rules>
            <name>Is_Similar</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_SimilarityMatch</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue><booleanValue>true</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Set_Is_Duplicate</targetReference>
            </connector>
            <label>Similar body detected</label>
        </rules>
    </decisions>

    <recordLookups>
        <name>Get_ExistingComments</name>
        <label>Get Recent Comments on Process</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_HasPriorComments</targetReference>
        </connector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>nepa_related_process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inp_RelatedProcessId</elementReference>
            </value>
        </filters>
        <filters>
            <field>Id</field>
            <operator>NotEqualTo</operator>
            <value>
                <elementReference>inp_CommentId</elementReference>
            </value>
        </filters>
        <filters>
            <field>CreatedDate</field>
            <operator>GreaterThanOrEqualTo</operator>
            <value>
                <elementReference>formula_ThirtyDaysAgo</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>PublicComplaint</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>nepa_comment_body__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <loops>
        <name>Loop_Comments</name>
        <label>Loop Prior Comments</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <collectionReference>Get_ExistingComments</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Similarity</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Set_No_Duplicate</targetReference>
        </noMoreValuesConnector>
    </loops>

    <assignments>
        <name>Set_Is_Duplicate</name>
        <label>Set Duplicate Flag</label>
        <locationX>440</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>out_IsDuplicate</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>true</booleanValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_OriginalCommentId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Comments.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_SimilarityBasis</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>First 80 characters of comment body match prior submission on same process within 30 days</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_Duplicate_Fields</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Set_No_Duplicate</name>
        <label>Set No Duplicate</label>
        <locationX>176</locationX>
        <locationY>647</locationY>
        <assignmentItems>
            <assignToReference>out_IsDuplicate</assignToReference>
            <operator>Assign</operator>
            <value><booleanValue>false</booleanValue></value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>out_SimilarityBasis</assignToReference>
            <operator>Assign</operator>
            <value><stringValue>No duplicate detected</stringValue></value>
        </assignmentItems>
    </assignments>

    <assignments>
        <name>Handle_Error</name>
        <label>Capture Error</label>
        <locationX>616</locationX>
        <locationY>539</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_ErrorLogger</targetReference>
        </connector>
    </assignments>

    <recordUpdates>
        <name>Update_Duplicate_Fields</name>
        <label>Update Comment as Duplicate</label>
        <locationX>440</locationX>
        <locationY>647</locationY>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>nepa_is_duplicate__c</field>
            <value><booleanValue>true</booleanValue></value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_duplicate_of__c</field>
            <value>
                <elementReference>out_OriginalCommentId</elementReference>
            </value>
        </inputAssignments>
        <object>PublicComplaint</object>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>inp_CommentId</elementReference>
            </value>
        </filters>
    </recordUpdates>

    <subflows>
        <name>Call_ErrorLogger</name>
        <label>Log Flow Error</label>
        <locationX>616</locationX>
        <locationY>647</locationY>
        <flowName>NEPA_Error_Logger</flowName>
        <inputAssignments>
            <name>inp_FlowName</name>
            <value><stringValue>NEPA_Comment_Duplicate_Check</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_ErrorMessage</name>
            <value><elementReference>var_ErrorMessage</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RecordId</name>
            <value><elementReference>inp_CommentId</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RunningUserId</name>
            <value><elementReference>$User.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_FailedStep</name>
            <value><stringValue>Duplicate_Check_Update</stringValue></value>
        </inputAssignments>
    </subflows>

    <formulas>
        <name>formula_ThirtyDaysAgo</name>
        <dataType>DateTime</dataType>
        <expression>NOW() - 30</expression>
    </formulas>

    <formulas>
        <name>formula_SimilarityMatch</name>
        <dataType>Boolean</dataType>
        <expression>AND(
  NOT(ISBLANK({!Loop_Comments.nepa_comment_body__c})),
  LEN({!Loop_Comments.nepa_comment_body__c}) > 20,
  CONTAINS({!inp_CommentBody}, LEFT({!Loop_Comments.nepa_comment_body__c}, 80))
)</expression>
    </formulas>

    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Decision_HasProcess</targetReference>
        </connector>
    </start>

    <variables>
        <name>inp_CommentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inp_CommentBody</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>inp_RelatedProcessId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>out_IsDuplicate</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
        <value><booleanValue>false</booleanValue></value>
    </variables>
    <variables>
        <name>out_OriginalCommentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>out_SimilarityBasis</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

</Flow>
