force-app/main/default/flows/NEPA_SLA_Escalation_Monitor.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Scheduled flow — runs daily. Queries active IndividualApplication records with a populated nepa_sla_due_date__c that have not yet reached a terminal process status (completed or cancelled). Before querying processes, iterates col_SLAConfigs to compute var_MaxWarningDays (the widest warning window across all review types) for the query bound, and reuses col_SLAConfigs per outer-loop iteration to look up the per-review-type warning window (var_SpecificWarningDays). For each record, evaluates: (1) overdue — TODAY &gt; due date; (2) in warning window — due date &lt;= TODAY + review-type-specific warning days AND warning not yet sent. Record flag updates are bulk operations (no DML-in-loop). Fault paths log to NEPA_Error_Logger. Schedule must be configured at activation time in Flow Builder.</description>
    <label>NEPA SLA Escalation Monitor</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <!-- ============================================================
         ASSIGNMENTS
    ============================================================ -->

    <!-- Stage overdue record for bulk update collection -->
    <assignments>
        <name>Build_OverdueUpdate</name>
        <label>Stage Overdue Flag Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_UpdateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Processes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UpdateRecord.nepa_sla_overdue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <!-- Reset warning flag to avoid state contamination from prior loop iteration -->
            <assignToReference>var_UpdateRecord.nepa_sla_warning_sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_OverdueUpdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_UpdateRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Processes</targetReference>
        </connector>
    </assignments>

    <!-- Stage warning record for bulk update collection -->
    <assignments>
        <name>Build_WarningUpdate</name>
        <label>Stage Warning Flag Update</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_UpdateRecord.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Processes.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_UpdateRecord.nepa_sla_warning_sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <!-- Reset overdue flag to avoid state contamination from prior loop iteration -->
            <assignToReference>var_UpdateRecord.nepa_sla_overdue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>col_WarningUpdates</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>var_UpdateRecord</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Processes</targetReference>
        </connector>
    </assignments>

    <!-- Update var_MaxWarningDays when current CMT config is wider (M4 fix) -->
    <assignments>
        <name>Update_MaxWarning</name>
        <label>Update Max Warning Days</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_MaxWarningDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_ComputeMaxWarning.Warning_Days_Before_Due__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_ComputeMaxWarning</targetReference>
        </connector>
    </assignments>

    <!-- Reset specific warning days to max fallback before inner lookup loop (M4 fix) -->
    <assignments>
        <name>Init_SpecificWarningDays</name>
        <label>Reset Specific Warning Days to Max Fallback</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SpecificWarningDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_MaxWarningDays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_FindConfigForProcess</targetReference>
        </connector>
    </assignments>

    <!-- Set per-review-type warning days when inner loop finds a matching config (M4 fix) -->
    <assignments>
        <name>Set_SpecificWarningDays</name>
        <label>Set Specific Warning Days for Review Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_SpecificWarningDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_FindConfigForProcess.Warning_Days_Before_Due__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_FindConfigForProcess</targetReference>
        </connector>
    </assignments>

    <!-- Error handlers -->
    <assignments>
        <name>Handle_QueryError</name>
        <label>Capture Query Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CurrentStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Get_ActiveProcesses</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_ErrorLogger</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Handle_UpdateError</name>
        <label>Capture Update Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_ErrorLogger</targetReference>
        </connector>
    </assignments>

    <!-- ============================================================
         DECISIONS
    ============================================================ -->

    <decisions>
        <name>Decision_ConfigsLoaded</name>
        <label>SLA Configs Loaded?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Active Configs — exit</defaultConnectorLabel>
        <rules>
            <name>Configs_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_SLAConfigs</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <!-- Route to max-warning-days computation before querying processes (M4 fix) -->
            <connector>
                <targetReference>Loop_ComputeMaxWarning</targetReference>
            </connector>
            <label>Configs Present</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_ProcessesFound</name>
        <label>Processes to Evaluate?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>None — exit cleanly</defaultConnectorLabel>
        <rules>
            <name>Processes_Present</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_ActiveProcesses</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Loop_Processes</targetReference>
            </connector>
            <label>Processes Present</label>
        </rules>
    </decisions>

    <!-- Determine if current CMT config's warning window exceeds the running maximum (M4 fix) -->
    <decisions>
        <name>Decision_IsNewMax</name>
        <label>Config Warning Days Exceeds Current Max?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_ComputeMaxWarning</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not higher — skip</defaultConnectorLabel>
        <rules>
            <name>Is_New_Max</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_ComputeMaxWarning.Warning_Days_Before_Due__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>var_MaxWarningDays</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_MaxWarning</targetReference>
            </connector>
            <label>New Max Found</label>
        </rules>
    </decisions>

    <!-- Match inner config loop's review type to the current process (M4 fix) -->
    <decisions>
        <name>Decision_ConfigMatchesReviewType</name>
        <label>Config Review Type Matches Process?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_FindConfigForProcess</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No match — continue inner loop</defaultConnectorLabel>
        <rules>
            <name>Config_Matches</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_FindConfigForProcess.Review_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Loop_Processes.nepa_review_type__c</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Set_SpecificWarningDays</targetReference>
            </connector>
            <label>Config Matches</label>
        </rules>
    </decisions>

    <!-- Classify each process as Overdue, In Warning Window, or neither.
         Uses formula_SpecificWarningCutoff (TODAY + per-review-type warning days) for the window check. -->
    <decisions>
        <name>Decision_EvaluateSLAState</name>
        <label>Overdue or In Warning Window?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>Loop_Processes</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Neither — skip</defaultConnectorLabel>
        <rules>
            <name>Is_Overdue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Processes.nepa_sla_due_date__c</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>formula_Today</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Processes.nepa_sla_overdue__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_OverdueUpdate</targetReference>
            </connector>
            <label>Overdue (not yet flagged)</label>
        </rules>
        <rules>
            <name>In_Warning_Window</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <!-- Uses per-review-type cutoff instead of hardcoded 30 days (M4 fix) -->
                <leftValueReference>Loop_Processes.nepa_sla_due_date__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue>
                    <elementReference>formula_SpecificWarningCutoff</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>Loop_Processes.nepa_sla_warning_sent__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_WarningUpdate</targetReference>
            </connector>
            <label>In Warning Window (warning not yet sent)</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_HasWarningUpdates</name>
        <label>Any Warning Updates to Write?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Warning Updates</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Decision_HasOverdueUpdates</targetReference>
        </defaultConnector>
        <rules>
            <name>Has_Warning_Updates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_WarningUpdates</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bulk_UpdateWarning</targetReference>
            </connector>
            <label>Has Warning Updates</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_HasOverdueUpdates</name>
        <label>Any Overdue Updates to Write?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Overdue Updates — done</defaultConnectorLabel>
        <rules>
            <name>Has_Overdue_Updates</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>col_OverdueUpdates</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Bulk_UpdateOverdue</targetReference>
            </connector>
            <label>Has Overdue Updates</label>
        </rules>
    </decisions>

    <!-- ============================================================
         FORMULAS
    ============================================================ -->

    <formulas>
        <name>formula_ErrorContext</name>
        <dataType>String</dataType>
        <expression>"Step:" &amp; {!var_CurrentStep}</expression>
    </formulas>

    <formulas>
        <name>formula_Today</name>
        <dataType>Date</dataType>
        <expression>TODAY()</expression>
    </formulas>

    <!-- Query bound: TODAY + max warning days across all review types.
         var_MaxWarningDays is computed by Loop_ComputeMaxWarning before Get_ActiveProcesses runs.
         Replaces hardcoded TODAY() + 30 (M4 fix). -->
    <formulas>
        <name>formula_WarningCutoff</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!var_MaxWarningDays}</expression>
    </formulas>

    <!-- Per-process warning cutoff: TODAY + warning days specific to this process's review type.
         var_SpecificWarningDays is resolved by Loop_FindConfigForProcess each outer loop iteration.
         Falls back to var_MaxWarningDays when no matching config is found (M4 fix). -->
    <formulas>
        <name>formula_SpecificWarningCutoff</name>
        <dataType>Date</dataType>
        <expression>TODAY() + {!var_SpecificWarningDays}</expression>
    </formulas>

    <!-- ============================================================
         LOOPS
    ============================================================ -->

    <!-- Pre-loop to compute var_MaxWarningDays from CMT before querying processes (M4 fix).
         O(n) over CMT configs — typically 3–5 records, governor-exempt. -->
    <loops>
        <name>Loop_ComputeMaxWarning</name>
        <label>Compute Max Warning Days from SLA Configs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>col_SLAConfigs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_IsNewMax</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Get_ActiveProcesses</targetReference>
        </noMoreValuesConnector>
    </loops>

    <!-- Main loop: one record per iteration. No DML inside. (M5 fix) -->
    <loops>
        <name>Loop_Processes</name>
        <label>Loop Through Active Processes</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>col_ActiveProcesses</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <!-- Reset specific warning days, then find review-type-specific value (M4 fix) -->
        <nextValueConnector>
            <targetReference>Init_SpecificWarningDays</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_HasWarningUpdates</targetReference>
        </noMoreValuesConnector>
    </loops>

    <!-- Inner loop: iterate col_SLAConfigs to find var_SpecificWarningDays for this process (M4 fix).
         Pure iteration — no SOQL, no DML. O(n*m) where n = active processes, m = SLA configs (~5).
         Acceptable at NEPA caseload scale. -->
    <loops>
        <name>Loop_FindConfigForProcess</name>
        <label>Find Warning Days for This Review Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <collectionReference>col_SLAConfigs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Decision_ConfigMatchesReviewType</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Decision_EvaluateSLAState</targetReference>
        </noMoreValuesConnector>
    </loops>

    <!-- ============================================================
         STEP 1: Load all active SLA configs (CMT — governor-exempt)
    ============================================================ -->
    <recordLookups>
        <name>Get_SLAConfigs</name>
        <label>Get All Active SLA Configs</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ConfigsLoaded</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>NEPA_SLA_Config__mdt</object>
        <outputReference>col_SLAConfigs</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Review_Type__c</queriedFields>
        <queriedFields>Warning_Days_Before_Due__c</queriedFields>
    </recordLookups>

    <!-- ============================================================
         STEP 2 (after max-warning compute): Query active processes.
         Bounded by formula_WarningCutoff (dynamic max warning days).
    ============================================================ -->
    <recordLookups>
        <name>Get_ActiveProcesses</name>
        <label>Get Active Processes Approaching or Past SLA Due Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ProcessesFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_QueryError</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND 3 AND (4 OR 5)</filterLogic>
        <filters>
            <field>nepa_sla_due_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>nepa_process_status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>completed</stringValue>
            </value>
        </filters>
        <filters>
            <field>nepa_process_status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>cancelled</stringValue>
            </value>
        </filters>
        <filters>
            <field>nepa_sla_due_date__c</field>
            <operator>LessThanOrEqualTo</operator>
            <value>
                <elementReference>formula_WarningCutoff</elementReference>
            </value>
        </filters>
        <filters>
            <field>nepa_sla_overdue__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <outputReference>col_ActiveProcesses</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>nepa_review_type__c</queriedFields>
        <queriedFields>nepa_sla_due_date__c</queriedFields>
        <queriedFields>nepa_sla_warning_sent__c</queriedFields>
        <queriedFields>nepa_sla_overdue__c</queriedFields>
    </recordLookups>

    <!-- ============================================================
         POST-LOOP: Bulk update record flags
    ============================================================ -->
    <recordUpdates>
        <name>Bulk_UpdateWarning</name>
        <label>Bulk Set nepa_sla_warning_sent__c = true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Handle_UpdateError</targetReference>
        </faultConnector>
        <inputReference>col_WarningUpdates</inputReference>
        <connector>
            <targetReference>Decision_HasOverdueUpdates</targetReference>
        </connector>
    </recordUpdates>

    <recordUpdates>
        <name>Bulk_UpdateOverdue</name>
        <label>Bulk Set nepa_sla_overdue__c = true</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Handle_UpdateError</targetReference>
        </faultConnector>
        <inputReference>col_OverdueUpdates</inputReference>
    </recordUpdates>

    <!-- code-analyzer-suppress flow:MissingFaultHandler - terminal error handler; fault-handling Call_ErrorLogger would be circular -->
    <subflows>
        <name>Call_ErrorLogger</name>
        <label>Log Flow Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>NEPA_Error_Logger</flowName>
        <inputAssignments>
            <name>inp_FlowName</name>
            <value><stringValue>NEPA_SLA_Escalation_Monitor</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_ErrorMessage</name>
            <value><elementReference>var_ErrorMessage</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RecordId</name>
            <value><stringValue></stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RunningUserId</name>
            <value><elementReference>$User.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_FailedStep</name>
            <value><elementReference>var_CurrentStep</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_ErrorContext</name>
            <value><elementReference>formula_ErrorContext</elementReference></value>
        </inputAssignments>
    </subflows>

    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_SLAConfigs</targetReference>
        </connector>
    </start>

    <!-- ============================================================
         VARIABLES
    ============================================================ -->
    <variables>
        <name>col_SLAConfigs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_SLA_Config__mdt</objectType>
    </variables>

    <variables>
        <name>col_ActiveProcesses</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>

    <variables>
        <name>col_WarningUpdates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>

    <variables>
        <name>col_OverdueUpdates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>

    <variables>
        <name>var_UpdateRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>

    <!-- Maximum warning days across all active SLA configs — computed before query (M4 fix) -->
    <variables>
        <name>var_MaxWarningDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>

    <!-- Per-process warning days from the matched SLA config — reset each outer loop iteration (M4 fix) -->
    <variables>
        <name>var_SpecificWarningDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>

    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>var_CurrentStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Start</stringValue>
        </value>
    </variables>
</Flow>
