force-app/main/default/flows/NEPA_Team_Assembly_Orchestrator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>After-save async flow on Program. Fires when nepa_gis_proximity_complete__c changes to true. Delegates CMT-to-hit-layer matching, ServiceResource lookup, team member creation, and Visit creation to NepaLayerDisciplineResolver (Apex invocable). On re-run, deactivates existing auto-assembled team members and cancels auto-generated Visits before re-assembling via filter-based recordUpdates.</description>
    <environments>Default</environments>
    <interviewLabel>NEPA Team Assembly Orchestrator {!$Flow.CurrentDateTime}</interviewLabel>
    <label>NEPA Team Assembly Orchestrator</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>
    <start>
        <locationX>176</locationX>
        <locationY>48</locationY>
        <filters>
            <field>nepa_gis_proximity_complete__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Program</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>GetRelatedProcess</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
    </start>
    <!-- ═══════════════════════════════════════════════════════════════════ -->
    <assignments>
        <name>Handle_Error</name>
        <label>Capture Fault Message</label>
        <locationX>640</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_ErrorTask</targetReference>
        </connector>
    </assignments>
    <!-- ═══════════════════════════════════════════════════════════════════ -->
    <decisions>
        <name>Decision_ProcessFound</name>
        <label>Active NEPA Process Found?</label>
        <locationX>176</locationX>
        <locationY>288</locationY>
        <defaultConnectorLabel>No Process — Create Alert Task</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Create_NoProcessTask</targetReference>
        </defaultConnector>
        <rules>
            <name>ProcessFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_RelatedProcess</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CheckExistingAutoTeam</targetReference>
            </connector>
            <label>Process Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_ReRunOrFirstTime</name>
        <label>Re-Run or First Time?</label>
        <locationX>176</locationX>
        <locationY>528</locationY>
        <defaultConnectorLabel>First Time — Assemble Team</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Assemble_TeamAndVisits</targetReference>
        </defaultConnector>
        <rules>
            <name>IsReRun</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ExistingAutoTeam</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_DeactivatedMembers</targetReference>
            </connector>
            <label>Re-Run — Deactivate Previous Team</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_AutoVisitsExist</name>
        <label>Auto Visits to Cancel?</label>
        <locationX>176</locationX>
        <locationY>888</locationY>
        <defaultConnectorLabel>No Auto Visits — Assemble Team</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Assemble_TeamAndVisits</targetReference>
        </defaultConnector>
        <rules>
            <name>AutoVisitsExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ExistingAutoVisits</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_CancelledVisits</targetReference>
            </connector>
            <label>Auto Visits Exist</label>
        </rules>
    </decisions>
    <decisions>
        <name>Decision_AssemblyResult</name>
        <label>Assembly Result</label>
        <locationX>176</locationX>
        <locationY>1248</locationY>
        <defaultConnectorLabel>Success — End</defaultConnectorLabel>
        <rules>
            <name>AssemblyError</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ApexErrorMessage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_ApexErrorTask</targetReference>
            </connector>
            <label>Assembly Error</label>
        </rules>
        <rules>
            <name>NoHitsFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ApexAnyHitsFound</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_NoHitsTask</targetReference>
            </connector>
            <label>No Hits Found</label>
        </rules>
        <rules>
            <name>UnmatchedDisciplines</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_ApexUnmatchedDisciplines</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_UnmatchedTask</targetReference>
            </connector>
            <label>Unmatched Disciplines</label>
        </rules>
    </decisions>
    <!-- ═══════════════════════════════════════════════════════════════════ -->
    <actionCalls>
        <name>Assemble_TeamAndVisits</name>
        <label>Assemble Team and Create Visits</label>
        <locationX>176</locationX>
        <locationY>1128</locationY>
        <actionName>NepaLayerDisciplineResolver</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>Decision_AssemblyResult</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <inputParameters>
            <name>programId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>relatedAppId</name>
            <value>
                <elementReference>var_RelatedProcess.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>accountId</name>
            <value>
                <elementReference>var_RelatedProcess.AccountId</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>var_ApexErrorMessage</assignToReference>
            <name>errorMessage</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_ApexAnyHitsFound</assignToReference>
            <name>anyHitsFound</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_ApexUnmatchedDisciplines</assignToReference>
            <name>unmatchedDisciplines</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_ApexTeamMembersCreated</assignToReference>
            <name>teamMembersCreated</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>var_ApexVisitsCreated</assignToReference>
            <name>visitsCreated</name>
        </outputParameters>
        <storeOutputAutomatically>false</storeOutputAutomatically>
    </actionCalls>
    <!-- ═══════════════════════════════════════════════════════════════════ -->
    <recordCreates>
        <name>Create_NoProcessTask</name>
        <label>Create No-Process Alert Task</label>
        <locationX>440</locationX>
        <locationY>288</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>GIS Complete — No Active NEPA Process Found</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>GIS proximity check completed but no active IndividualApplication (NEPA Process) was found linked to this project. Create an IndividualApplication and set nepa_related_project__c to this Program to enable automated team assembly and field survey Visit creation.</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_ErrorTask</name>
        <label>Create Error Alert Task</label>
        <locationX>640</locationX>
        <locationY>408</locationY>
        <connector>
            <targetReference>Call_ErrorLogger</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>NEPA Team Assembly Error — Manual Review Required</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>var_ErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_ApexErrorTask</name>
        <label>Create Apex Assembly Error Task</label>
        <locationX>440</locationX>
        <locationY>1248</locationY>
        <connector>
            <targetReference>Call_ErrorLogger</targetReference>
        </connector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>NEPA Team Assembly Error — Apex Resolver Failed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>var_ApexErrorMessage</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_NoHitsTask</name>
        <label>Create No GIS Hits Info Task</label>
        <locationX>176</locationX>
        <locationY>1368</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>GIS Complete — No Protection Layer Hits Detected</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>GIS proximity check completed with no protection layer hits. No specialist team assembly or field survey Visits were required. If you believe hits should have been detected, verify the project coordinates and NEPA_GIS_Layer__mdt buffer distance configurations.</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <recordCreates>
        <name>Create_UnmatchedTask</name>
        <label>Create Unmatched Disciplines Alert Task</label>
        <locationX>176</locationX>
        <locationY>1488</locationY>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Team Assembly: Manual Assignment Required for Unmatched Disciplines</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Open</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>High</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>var_ApexUnmatchedDisciplines</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <!-- ═══════════════════════════════════════════════════════════════════ -->
    <recordLookups>
        <name>GetRelatedProcess</name>
        <label>Get Related NEPA Process</label>
        <locationX>176</locationX>
        <locationY>168</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ProcessFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>nepa_related_project__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>nepa_process_status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>IndividualApplication</object>
        <outputReference>var_RelatedProcess</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>AccountId</queriedFields>
        <sortField>CreatedDate</sortField>
        <sortOrder>Desc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>CheckExistingAutoTeam</name>
        <label>Check Existing Auto Team Members</label>
        <locationX>176</locationX>
        <locationY>408</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ReRunOrFirstTime</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>nepa_process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RelatedProcess.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>nepa_assembly_source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GIS_Auto_Assembly</stringValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>nepa_process_team_member__c</object>
        <outputReference>var_ExistingAutoTeam</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>GetExistingAutoVisits</name>
        <label>Get Existing Auto-Generated Visits</label>
        <locationX>176</locationX>
        <locationY>768</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_AutoVisitsExist</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2</filterLogic>
        <filters>
            <field>nepa_process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RelatedProcess.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>nepa_auto_generated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Visit</object>
        <outputReference>var_ExistingAutoVisits</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <!-- ═══════════════════════════════════════════════════════════════════ -->
    <recordUpdates>
        <name>Update_DeactivatedMembers</name>
        <label>Bulk Deactivate Team Members</label>
        <locationX>176</locationX>
        <locationY>648</locationY>
        <connector>
            <targetReference>GetExistingAutoVisits</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>nepa_process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RelatedProcess.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>nepa_assembly_source__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>GIS_Auto_Assembly</stringValue>
            </value>
        </filters>
        <filters>
            <field>nepa_active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <inputAssignments>
            <field>nepa_active__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>nepa_process_team_member__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_CancelledVisits</name>
        <label>Bulk Cancel Auto Visits</label>
        <locationX>176</locationX>
        <locationY>1008</locationY>
        <connector>
            <targetReference>Assemble_TeamAndVisits</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <filterLogic>1 AND 2 AND 3</filterLogic>
        <filters>
            <field>nepa_process__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>var_RelatedProcess.Id</elementReference>
            </value>
        </filters>
        <filters>
            <field>nepa_auto_generated__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Canceled</stringValue>
            </value>
        </inputAssignments>
        <object>Visit</object>
    </recordUpdates>
    <!-- code-analyzer-suppress flow:MissingFaultHandler - terminal error handler; fault on error logger would be circular -->
    <subflows>
        <name>Call_ErrorLogger</name>
        <label>Log Team Assembly Error</label>
        <locationX>640</locationX>
        <locationY>528</locationY>
        <flowName>NEPA_Error_Logger</flowName>
        <inputAssignments>
            <name>inp_FlowName</name>
            <value><stringValue>NEPA_Team_Assembly_Orchestrator</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_ErrorMessage</name>
            <value><elementReference>var_ErrorMessage</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RecordId</name>
            <value><elementReference>$Record.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RunningUserId</name>
            <value><elementReference>$User.Id</elementReference></value>
        </inputAssignments>
    </subflows>
    <!-- ═══════════════════════════════════════════════════════════════════ -->
    <variables>
        <name>var_RelatedProcess</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>
    <variables>
        <name>var_ExistingAutoTeam</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>nepa_process_team_member__c</objectType>
    </variables>
    <variables>
        <name>var_ExistingAutoVisits</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Visit</objectType>
    </variables>
    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ApexErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ApexAnyHitsFound</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ApexUnmatchedDisciplines</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_ApexTeamMembersCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
    <variables>
        <name>var_ApexVisitsCreated</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
    </variables>
</Flow>
