force-app/main/default/flows/NEPA_SLA_Due_Date_Setter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Before-save on IndividualApplication (create and update). When nepa_review_type__c is set and nepa_start_date__c is populated, looks up the active NEPA_SLA_Config__mdt record for that review type and computes nepa_sla_due_date__c = nepa_start_date__c + Total_Days__c. Also resets nepa_sla_warning_sent__c and nepa_sla_overdue__c to false when the due date changes, so the escalation monitor re-evaluates from scratch. Runs before-save to avoid a separate DML call.</description>
    <label>NEPA SLA Due Date Setter</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <!-- ============================================================
         TRIGGER: IndividualApplication before-save, create + update
         Entry: review type set AND start date set, and either is changed
    ============================================================ -->
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>IndividualApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
        <filterLogic>(1 OR 2) AND 3 AND 4</filterLogic>
        <filters>
            <field>nepa_review_type__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>nepa_start_date__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>nepa_review_type__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>nepa_start_date__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <connector>
            <targetReference>Get_SLAConfig</targetReference>
        </connector>
    </start>

    <!-- ============================================================
         LOOKUP: active SLA config for this review type
         CMT queries are governor-exempt (no SOQL count)
    ============================================================ -->
    <recordLookups>
        <name>Get_SLAConfig</name>
        <label>Get SLA Config for Review Type</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ConfigFound</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Review_Type__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_review_type__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NEPA_SLA_Config__mdt</object>
        <outputReference>rec_SLAConfig</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Total_Days__c</queriedFields>
        <queriedFields>Warning_Days_Before_Due__c</queriedFields>
    </recordLookups>

    <decisions>
        <name>Decision_ConfigFound</name>
        <label>SLA Config Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Config — exit without changing due date</defaultConnectorLabel>
        <rules>
            <name>Config_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_SLAConfig</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Compute_DueDate</targetReference>
            </connector>
            <label>Found</label>
        </rules>
    </decisions>

    <!-- ============================================================
         COMPUTE: due date = start date + total days
         Before-save: write directly to $Record fields (no DML needed)
    ============================================================ -->
    <assignments>
        <name>Compute_DueDate</name>
        <label>Compute and Stamp SLA Due Date</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TotalDays</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_SLAConfig.Total_Days__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.nepa_sla_due_date__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>formula_DueDate</elementReference>
            </value>
        </assignmentItems>
        <!-- Reset notification flags so the escalation monitor re-evaluates -->
        <assignmentItems>
            <assignToReference>$Record.nepa_sla_warning_sent__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>$Record.nepa_sla_overdue__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </assignmentItems>
    </assignments>

    <!-- ============================================================
         FORMULA: due date = start date + total days (number)
         Flow date arithmetic: {!DateField} + {!NumberVar} = Date
    ============================================================ -->
    <formulas>
        <name>formula_DueDate</name>
        <dataType>Date</dataType>
        <expression>{!$Record.nepa_start_date__c} + {!var_TotalDays}</expression>
    </formulas>

    <!-- ============================================================
         VARIABLES
    ============================================================ -->
    <variables>
        <name>rec_SLAConfig</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_SLA_Config__mdt</objectType>
    </variables>

    <variables>
        <name>var_TotalDays</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>

</Flow>
