force-app/main/default/flows/NEPA_Stage_Gate_Orchestrator.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Stage-gate orchestration for IndividualApplication. When an ApplicationTimeline event's nepa_status__c transitions to Completed: (1) stamps nepa_last_stage_transition__c on the parent IndividualApplication, (2) advances nepa_process_status__c to the next stage per the gate sequence, (3) closes the completed Action Plan task and creates the opening task for the next stage, (4) sends an email alert to the next assigned entity. Fires after-save on ApplicationTimeline when nepa_status__c changes to Completed.</description>
    <label>NEPA Stage Gate Orchestrator</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <assignments>
        <name>Assign_Stage_Scoping</name>
        <label>Set Next Stage: Scoping</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Scoping</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stamp_LastTransition</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Assign_Stage_Analysis</name>
        <label>Set Next Stage: Analysis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Analysis</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stamp_LastTransition</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Assign_Stage_Review</name>
        <label>Set Next Stage: Review</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Review</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stamp_LastTransition</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Assign_Stage_Decision</name>
        <label>Set Next Stage: Decision</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Decision</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stamp_LastTransition</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Assign_Stage_Closed</name>
        <label>Set Next Stage: Closed</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stamp_LastTransition</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Assign_Stage_CEDetermination</name>
        <label>Set Next Stage: CE Determination</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_NextStage</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>CE Determination</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Stamp_LastTransition</targetReference>
        </connector>
    </assignments>

    <!-- ============================================================
         STEP 4: Stamp last stage transition timestamp
    ============================================================ -->
    <assignments>
        <name>Stamp_LastTransition</name>
        <label>Capture Transition Timestamp</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_TransitionTimestamp</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CurrentStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Update_ProcessStage</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Update_ProcessStage</targetReference>
        </connector>
    </assignments>

    <!-- ============================================================
         STEP 6: Find and close the completed stage's open Action Plan task
         Looks for an open Task with Subject containing the current (now-completed) stage name
         and linked to the parent IndividualApplication.
    ============================================================ -->
    <assignments>
        <name>Assign_CurrentStageLabel</name>
        <label>Set Completed Stage Label for Task Search</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_CompletedStageLabel</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>rec_ParentProcess.nepa_process_stage__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>var_CurrentStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Close_StageTask</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Get_OpenStageTask</targetReference>
        </connector>
    </assignments>

    <assignments>
        <name>Assign_CurrentStep_CreateTask</name>
        <label>Mark Step: Create Next Stage Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_CurrentStep</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Create_NextStageTask</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Create_NextStageTask</targetReference>
        </connector>
    </assignments>

    <!-- ============================================================
         ERROR HANDLER — terminal
    ============================================================ -->
    <assignments>
        <name>Handle_Error</name>
        <label>Handle Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_ErrorLogger</targetReference>
        </connector>
    </assignments>

    <!-- ============================================================
         STEP 1: Guard — event must have a parent process
    ============================================================ -->
    <decisions>
        <name>Decision_HasParentProcess</name>
        <label>Has Parent Process?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Parent — exit</defaultConnectorLabel>
        <rules>
            <name>Has_Parent_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nepa_related_process__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Get_ParentProcess</targetReference>
            </connector>
            <label>Has Parent Process</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_ProcessFound</name>
        <label>Parent Process Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not Found — exit</defaultConnectorLabel>
        <rules>
            <name>Process_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_ParentProcess</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_AlreadyProcessed</targetReference>
            </connector>
            <label>Process Found</label>
        </rules>
    </decisions>

    <!-- Idempotency guard: if this process was already advanced by a concurrent
         ApplicationTimeline completion in the same async batch, exit without
         advancing the stage again. Prevents stage-skip under race conditions. -->
    <decisions>
        <name>Decision_AlreadyProcessed</name>
        <label>Stage Gate Already Processed for This Process?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Not yet processed — proceed</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Assign_NextStage</targetReference>
        </defaultConnector>
        <rules>
            <name>Already_Processed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_ParentProcess.nepa_stage_gate_processed__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Already Processed — exit</label>
        </rules>
    </decisions>

    <!-- ============================================================
         STEP 3: Map current stage → next stage
         CE path: Intake → Screening → CE Determination → Decision
         EA path: Intake → Scoping → EA Preparation → FONSI/EIS Decision
         EIS path: Intake → Scoping → NOI → Draft EIS → Comment Period → Final EIS → ROD
    ============================================================ -->
    <decisions>
        <name>Assign_NextStage</name>
        <label>Map Current Stage to Next Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Unknown Stage — no advance</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Stamp_LastTransition</targetReference>
        </defaultConnector>
        <rules>
            <name>Stage_Intake</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_ParentProcess.nepa_process_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Intake</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_Scoping</targetReference>
            </connector>
            <label>Intake → Scoping</label>
        </rules>
        <rules>
            <name>Stage_Scoping</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_ParentProcess.nepa_process_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Scoping</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_Analysis</targetReference>
            </connector>
            <label>Scoping → Analysis</label>
        </rules>
        <rules>
            <name>Stage_Analysis</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_ParentProcess.nepa_process_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Analysis</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_Review</targetReference>
            </connector>
            <label>Analysis → Review</label>
        </rules>
        <rules>
            <name>Stage_Review</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_ParentProcess.nepa_process_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Review</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_Decision</targetReference>
            </connector>
            <label>Review → Decision</label>
        </rules>
        <rules>
            <name>Stage_Decision</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_ParentProcess.nepa_process_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Decision</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_Closed</targetReference>
            </connector>
            <label>Decision → Closed</label>
        </rules>
        <rules>
            <name>Stage_Screening</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_ParentProcess.nepa_process_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Screening</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_CEDetermination</targetReference>
            </connector>
            <label>Screening → CE Determination</label>
        </rules>
        <rules>
            <name>Stage_CEDetermination</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_ParentProcess.nepa_process_stage__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>CE Determination</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Stage_Decision</targetReference>
            </connector>
            <label>CE Determination → Decision</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_TaskFound</name>
        <label>Open Stage Task Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Task Found — skip close</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Decision_HasNextStage</targetReference>
        </defaultConnector>
        <rules>
            <name>Task_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>rec_OpenTask</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Close_StageTask</targetReference>
            </connector>
            <label>Task Found</label>
        </rules>
    </decisions>

    <!-- ============================================================
         STEP 7: Create opening task for the next stage (when stage advanced)
    ============================================================ -->
    <decisions>
        <name>Decision_HasNextStage</name>
        <label>Was a Next Stage Assigned?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Next Stage — exit</defaultConnectorLabel>
        <rules>
            <name>Has_Next_Stage</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_NextStage</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>var_NextStage</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Closed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_NextStageTask</targetReference>
            </connector>
            <label>Has Next Stage</label>
        </rules>
    </decisions>

    <formulas>
        <name>formula_ErrorContext</name>
        <dataType>String</dataType>
        <expression>"CompletedStage:" &amp; {!var_CompletedStageLabel} &amp; "|NextStage:" &amp; {!var_NextStage} &amp; "|Step:" &amp; {!var_CurrentStep}</expression>
    </formulas>

    <!-- Reconstructs the exact Task Subject written by Create_NextStageTask for
         the completed stage. EqualTo filter on this value is selective because
         the subject uniquely identifies the stage opening task. -->
    <formulas>
        <name>formula_CompletedStageTaskSubject</name>
        <dataType>String</dataType>
        <expression>"Begin " &amp; {!var_CompletedStageLabel} &amp; " stage"</expression>
    </formulas>

    <recordCreates>
        <name>Create_NextStageTask</name>
        <label>Create Next Stage Opening Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Begin {!var_NextStage} stage</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.nepa_related_process__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>rec_ParentProcess.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Stage gate advanced from {!rec_ParentProcess.nepa_process_status__c} to {!var_NextStage} on {!var_TransitionTimestamp}. Review requirements and complete this stage's milestones.</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>

    <!-- ============================================================
         STEP 2: Load parent IndividualApplication
    ============================================================ -->
    <recordLookups>
        <name>Get_ParentProcess</name>
        <label>Get Parent IndividualApplication</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_ProcessFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_related_process__c</elementReference>
            </value>
        </filters>
        <object>IndividualApplication</object>
        <outputReference>rec_ParentProcess</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>nepa_process_stage__c</queriedFields>
        <queriedFields>nepa_review_type__c</queriedFields>
        <queriedFields>OwnerId</queriedFields>
        <queriedFields>nepa_stage_gate_processed__c</queriedFields>
    </recordLookups>

    <recordLookups>
        <name>Get_OpenStageTask</name>
        <label>Get Open Stage Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_TaskFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>WhatId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_related_process__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Status</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <!-- EqualTo on Subject instead of Contains: prevents full-table scan on
             unindexed text field. Tasks created by Create_NextStageTask use the
             exact "Begin {stage} stage" pattern; match against the completed-stage
             label using the same prefix so the filter stays selective. -->
        <filters>
            <field>Subject</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>formula_CompletedStageTaskSubject</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Task</object>
        <outputReference>rec_OpenTask</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Subject</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>

    <!-- ============================================================
         STEP 5: Advance process stage on parent IndividualApplication
    ============================================================ -->
    <recordUpdates>
        <name>Update_ProcessStage</name>
        <label>Advance Process Stage</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>nepa_process_stage__c</field>
            <value>
                <elementReference>var_NextStage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_last_stage_transition__c</field>
            <value>
                <elementReference>var_TransitionTimestamp</elementReference>
            </value>
        </inputAssignments>
        <!-- CEQ Standard v1.2 provenance: stamp retrieved timestamp on every data mutation -->
        <inputAssignments>
            <field>nepa_retrieved_timestamp__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <!-- Idempotency flag: prevents a concurrent completion of a second ApplicationTimeline
             record for the same process from advancing the stage a second time -->
        <inputAssignments>
            <field>nepa_stage_gate_processed__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_related_process__c</elementReference>
            </value>
        </filters>
        <connector>
            <targetReference>Assign_CurrentStageLabel</targetReference>
        </connector>
    </recordUpdates>

    <recordUpdates>
        <name>Close_StageTask</name>
        <label>Close Completed Stage Task</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>Task</object>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>rec_OpenTask.Id</elementReference>
            </value>
        </filters>
        <connector>
            <targetReference>Decision_HasNextStage</targetReference>
        </connector>
    </recordUpdates>

    <!-- code-analyzer-suppress flow:MissingFaultHandler - terminal error handler; fault-handling Call_ErrorLogger would be circular -->
    <subflows>
        <name>Call_ErrorLogger</name>
        <label>Log Flow Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <flowName>NEPA_Error_Logger</flowName>
        <inputAssignments>
            <name>inp_FlowName</name>
            <value><stringValue>NEPA_Stage_Gate_Orchestrator</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_ErrorMessage</name>
            <value><elementReference>var_ErrorMessage</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RecordId</name>
            <value><elementReference>$Record.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RunningUserId</name>
            <value><elementReference>$User.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_FailedStep</name>
            <value><elementReference>var_CurrentStep</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_ErrorContext</name>
            <value><elementReference>formula_ErrorContext</elementReference></value>
        </inputAssignments>
    </subflows>

    <!-- ============================================================
         TRIGGER: ApplicationTimeline after-save
         Entry condition: nepa_status__c changed to Completed
    ============================================================ -->
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <object>ApplicationTimeline</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <filterLogic>and</filterLogic>
        <filters>
            <field>nepa_status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </filters>
        <connector>
            <targetReference>Decision_HasParentProcess</targetReference>
        </connector>
    </start>

    <!-- ============================================================
         VARIABLES
    ============================================================ -->
    <variables>
        <name>rec_ParentProcess</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>IndividualApplication</objectType>
    </variables>

    <variables>
        <name>rec_OpenTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Task</objectType>
    </variables>

    <variables>
        <name>var_NextStage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>var_CompletedStageLabel</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>var_TransitionTimestamp</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

    <variables>
        <name>var_CurrentStep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Start</stringValue>
        </value>
    </variables>
</Flow>
