force-app/main/default/flows/NEPA_Agency_Tier_Setter.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>After-save trigger on Program (insert or update when nepa_record_owner_agency__c changes). Queries NEPA_Agency_Scoping_Baseline__mdt for the matching Agency_Key__c record and writes its Agency_Performance_Tier__c value to Program.nepa_agency_performance_tier__c. Runs async after-commit to avoid recursion.</description>
    <label>NEPA Agency Tier Setter</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <decisions>
        <name>Decision_BaselineFound</name>
        <label>Agency Baseline Found?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Baseline — Skip</defaultConnectorLabel>
        <rules>
            <name>Baseline_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AgencyBaseline</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Update_AgencyTier</targetReference>
            </connector>
            <label>Baseline Found</label>
        </rules>
    </decisions>

    <recordLookups>
        <name>Get_AgencyBaseline</name>
        <label>Get Agency Scoping Baseline</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Decision_BaselineFound</targetReference>
        </connector>
        <faultConnector>
            <targetReference>End_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Agency_Key__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_record_owner_agency__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Active__c</field>
            <operator>EqualTo</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>NEPA_Agency_Scoping_Baseline__mdt</object>
        <outputReference>var_AgencyBaseline</outputReference>
        <queriedFields>Agency_Key__c</queriedFields>
        <queriedFields>Agency_Performance_Tier__c</queriedFields>
    </recordLookups>

    <!-- code-analyzer-suppress flow:SameRecordUpdate — intentional async after-save write-back via AsyncAfterCommit scheduledPath -->
    <recordUpdates>
        <name>Update_AgencyTier</name>
        <label>Set Agency Performance Tier on Program</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <faultConnector>
            <targetReference>End_Error</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>nepa_agency_performance_tier__c</field>
            <value>
                <elementReference>var_AgencyBaseline.Agency_Performance_Tier__c</elementReference>
            </value>
        </inputAssignments>
        <object>Program</object>
    </recordUpdates>

    <assignments>
        <name>End_Error</name>
        <label>End — Error or No Match</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value><elementReference>$Flow.FaultMessage</elementReference></value>
        </assignmentItems>
    </assignments>

    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_AgencyBaseline</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>nepa_record_owner_agency__c</field>
            <operator>IsChanged</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <object>Program</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_AgencyBaseline</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>

    <variables>
        <name>var_AgencyBaseline</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>NEPA_Agency_Scoping_Baseline__mdt</objectType>
    </variables>
    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
