force-app/main/default/flows/NEPA_CE_Screener.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>CE screening orchestrator for IndividualApplication. Invokes NEPA_CE_Screener BRE Expression Set which routes through three Decision Matrices (NAICS, Tier1 Agency+Sector, Tier2 Agency+ActionType) with acreage override and no-match fallback. Writes recommendation to nepa_ce_pathway_recommendation__c per Salesforce AI AUP / OMB M-24-10 (AI recommends, human decides). Fires async after-commit when screening input fields change.</description>
    <label>NEPA CE Screener</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <!-- ============================================================
         ELEMENT 1: GET RELATED PROJECT
         Single SOQL to fetch agency, sector, type key, and NAICS
         from the linked Program record.
    ============================================================ -->
    <recordLookups>
        <name>Get_RelatedProject</name>
        <label>Get Related Program</label>
        <locationX>176</locationX>
        <locationY>215</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Call_NEPA_Evaluate_CE</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.nepa_related_project__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Program</object>
        <queriedFields>Id</queriedFields>
        <queriedFields>nepa_record_owner_agency__c</queriedFields>
        <queriedFields>nepa_project_sector__c</queriedFields>
        <queriedFields>nepa_project_type__c</queriedFields>
        <queriedFields>nepa_applicant_naics__c</queriedFields>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>

    <!-- ============================================================
         ELEMENT 2: INVOKE BRE EXPRESSION SET
         Passes all inputs to NEPA_CE_Screener; BRE handles
         the three-tier lookup, acreage override, and fallback
         internally — no SOQL queries, no loop risk.
    ============================================================ -->
    <actionCalls>
        <name>Call_NEPA_Evaluate_CE</name>
        <label>Evaluate CE Screening</label>
        <locationX>176</locationX>
        <locationY>323</locationY>
        <actionName>NEPA_CE_Screener</actionName>
        <actionType>runExpressionSet</actionType>
        <connector>
            <targetReference>Update_ScreeningFields</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>AgencyAbbr</name>
            <value>
                <elementReference>Get_RelatedProject.nepa_record_owner_agency__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>NAICSCode</name>
            <value>
                <elementReference>Get_RelatedProject.nepa_applicant_naics__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>SectorKey</name>
            <value>
                <elementReference>Get_RelatedProject.nepa_project_sector__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>TypeKey</name>
            <value>
                <elementReference>Get_RelatedProject.nepa_project_type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>ActionType</name>
            <value>
                <elementReference>$Record.nepa_action_type__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>DisturbanceAcres</name>
            <value>
                <elementReference>$Record.nepa_disturbance_acres__c</elementReference>
            </value>
        </inputParameters>
        <nameSegment>NEPA_CE_Screener</nameSegment>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>

    <!-- ============================================================
         ELEMENT 3: MAP REVIEW TYPE TO PICKLIST VALUE
         nepa_ce_pathway_recommendation__c is a restricted picklist with
         values CE-Recommended / EA-Required / EIS-Required. The BRE
         outputs CE / EA / EIS. Map here before write-back.
    ============================================================ -->
    <formulas>
        <name>var_RecommendationPicklist</name>
        <dataType>String</dataType>
        <expression>IF({!Call_NEPA_Evaluate_CE.ReviewType} = "CE", "CE-Recommended",
  IF({!Call_NEPA_Evaluate_CE.ReviewType} = "EIS", "EIS-Required",
  "EA-Required"))</expression>
    </formulas>

    <!-- ============================================================
         ELEMENT 4: WRITE BACK
         AI AUP compliance: writes nepa_ce_pathway_recommendation__c
         (the AI recommendation), NOT nepa_review_type__c (the official
         determination). A NEPA Coordinator must review the recommendation
         and manually confirm nepa_review_type__c per OMB M-24-10.
    ============================================================ -->
    <!-- code-analyzer-suppress flow:SameRecordUpdate — intentional async after-save write-back via AsyncAfterCommit scheduledPath; this is the recommended pattern for expensive same-record updates -->
    <recordUpdates>
        <name>Update_ScreeningFields</name>
        <label>Update CE Screening Fields</label>
        <locationX>176</locationX>
        <locationY>431</locationY>
        <faultConnector>
            <targetReference>Handle_Error</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>nepa_ce_pathway_recommendation__c</field>
            <value>
                <elementReference>var_RecommendationPicklist</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_process_code__c</field>
            <value>
                <elementReference>Call_NEPA_Evaluate_CE.CECode</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_screening_confidence__c</field>
            <value>
                <elementReference>Call_NEPA_Evaluate_CE.Confidence</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_classification_basis__c</field>
            <value>
                <elementReference>Call_NEPA_Evaluate_CE.ClassificationBasis</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>nepa_screener_last_run__c</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <object>IndividualApplication</object>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </filters>
    </recordUpdates>

    <!-- ============================================================
         ELEMENT 4: ERROR HANDLER
         Captures fault message and routes to error logger subflow.
    ============================================================ -->
    <assignments>
        <name>Handle_Error</name>
        <label>Capture Error</label>
        <locationX>352</locationX>
        <locationY>431</locationY>
        <assignmentItems>
            <assignToReference>var_ErrorMessage</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Call_ErrorLogger</targetReference>
        </connector>
    </assignments>

    <!-- ============================================================
         ELEMENT 5: ERROR LOGGER SUBFLOW
    ============================================================ -->
    <subflows>
        <name>Call_ErrorLogger</name>
        <label>Log Flow Error</label>
        <locationX>352</locationX>
        <locationY>539</locationY>
        <flowName>NEPA_Error_Logger</flowName>
        <inputAssignments>
            <name>inp_FlowName</name>
            <value><stringValue>NEPA_CE_Screener</stringValue></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_ErrorMessage</name>
            <value><elementReference>var_ErrorMessage</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RecordId</name>
            <value><elementReference>$Record.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_RunningUserId</name>
            <value><elementReference>$User.Id</elementReference></value>
        </inputAssignments>
        <inputAssignments>
            <name>inp_FailedStep</name>
            <value><stringValue>BRE_Evaluation</stringValue></value>
        </inputAssignments>
    </subflows>

    <!-- ============================================================
         TRIGGER / START
         Fires async after-commit when any CE screening input changes.
         Excludes records already confirmed as EIS or EA (human decided).
    ============================================================ -->
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <object>IndividualApplication</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
        <scheduledPaths>
            <connector>
                <targetReference>Get_RelatedProject</targetReference>
            </connector>
            <pathType>AsyncAfterCommit</pathType>
        </scheduledPaths>
        <filterLogic>(1 OR 2 OR 3 OR 4) AND 5 AND 6</filterLogic>
        <filters>
            <field>nepa_action_type__c</field>
            <operator>IsChanged</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <filters>
            <field>nepa_disturbance_acres__c</field>
            <operator>IsChanged</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <filters>
            <field>nepa_extraordinary_circumstances__c</field>
            <operator>IsChanged</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <filters>
            <field>nepa_related_project__c</field>
            <operator>IsChanged</operator>
            <value><booleanValue>true</booleanValue></value>
        </filters>
        <filters>
            <field>nepa_review_type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>EIS</stringValue>
            </value>
        </filters>
        <filters>
            <field>nepa_review_type__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>EA</stringValue>
            </value>
        </filters>
    </start>

    <!-- ============================================================
         VARIABLES
    ============================================================ -->
    <variables>
        <name>var_ErrorMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>

</Flow>
