force-app/main/default/flows/NEPA_Comment_Period_Gate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>62.0</apiVersion>
    <description>Before-save kill-switch for the portal comment submission form. Runs on every PublicComplaint insert. Uses cross-object field references ($Record.nepa_related_process__r.*) instead of a Get Records element — zero SOQL consumed regardless of batch size, safe for bulk API inserts of any volume. Compares $Flow.CurrentDateTime (UTC, second precision) to the exact comment period end datetime. Throws addError if the deadline has passed. Mandate 1: automates exact-minute intake gating for compressed 5-day comment periods under federal emergency procedures.</description>
    <label>NEPA Comment Period Gate</label>
    <processType>AutoLaunchedFlow</processType>
    <status>Active</status>

    <!-- ── Decisions ──────────────────────────────────────────────────────── -->

    <decisions>
        <name>Decision_HasRelatedProcess</name>
        <label>Has Related Process?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No Lookup — allow insert</defaultConnectorLabel>
        <!-- Comments without nepa_related_process__c are admin or batch records; no gate applies -->
        <rules>
            <name>Has_Related_Process</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nepa_related_process__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_EndDateConfigured</targetReference>
            </connector>
            <label>Has Related Process</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_EndDateConfigured</name>
        <label>Comment Period End Date Configured?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>No End Date — allow insert</defaultConnectorLabel>
        <!-- Cross-object reference returns null when lookup points to deleted/invalid record;
             fail-open keeps behaviour consistent with original. Validation rule is backstop. -->
        <rules>
            <name>End_Date_Set</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.nepa_related_process__r.nepa_public_comment_period_end_date__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue><booleanValue>false</booleanValue></rightValue>
            </conditions>
            <connector>
                <targetReference>Decision_IsCommentPeriodOpen</targetReference>
            </connector>
            <label>End Date Configured</label>
        </rules>
    </decisions>

    <decisions>
        <name>Decision_IsCommentPeriodOpen</name>
        <label>Is Comment Period Currently Open?</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>Period Closed — block insert</defaultConnectorLabel>
        <defaultConnector>
            <targetReference>Error_PeriodClosed</targetReference>
        </defaultConnector>
        <rules>
            <name>Period_Open</name>
            <conditionLogic>1 AND 2</conditionLogic>
            <conditions>
                <!-- Start date reached or not set (no start = open immediately) -->
                <leftValueReference>$Record.nepa_related_process__r.nepa_public_comment_period_start__c</leftValueReference>
                <operator>LessThanOrEqualTo</operator>
                <rightValue><elementReference>$Flow.CurrentDateTime</elementReference></rightValue>
            </conditions>
            <conditions>
                <!-- End deadline has not passed — exact-minute kill-switch -->
                <leftValueReference>$Record.nepa_related_process__r.nepa_public_comment_period_end_date__c</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue><elementReference>$Flow.CurrentDateTime</elementReference></rightValue>
            </conditions>
            <label>Period Open</label>
            <!-- No connector — allow the insert to proceed -->
        </rules>
    </decisions>

    <!-- ── Custom Error ───────────────────────────────────────────────────── -->

    <customErrors>
        <name>Error_PeriodClosed</name>
        <description>Blocks the insert when the comment period deadline has passed. Message is user-facing — shown in Experience Cloud portal and via API error response.</description>
        <label>Comment Period Closed Error</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <customErrorMessages>
            <errorMessage>The public comment period for this NEPA review has closed. No further comments can be accepted. If you believe this is in error, contact the lead agency directly.</errorMessage>
            <isFieldError>false</isFieldError>
        </customErrorMessages>
    </customErrors>

    <!-- ── Trigger ────────────────────────────────────────────────────────── -->

    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>nepa_related_process__c</field>
            <operator>IsNull</operator>
            <value><booleanValue>false</booleanValue></value>
        </filters>
        <connector>
            <targetReference>Decision_HasRelatedProcess</targetReference>
        </connector>
        <object>PublicComplaint</object>
        <recordTriggerType>Create</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>

</Flow>
